<div>
    <div class="product-single latest-single">
        <div class="product-thumb">
            <figure>
                <img src="{{ (job.thumbnail)? job.thumbnail : 'assets/img/no-image.jpg' }}" alt="" class="img-fluid">
                <figcaption>
                    <ul class="list-unstyled">
                        <li>
                            <a [routerLink]="['/job/', job.id]">Details</a>
                        </li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <!-- Ends: .product-thumb -->
        <div class="product-excerpt">
            <h5>
                <a [routerLink]="['/job/', job.id]">{{ job.title }}</a>
            </h5>
            <p>
                {{ job.company }}
            </p>
        </div>
        <!-- Ends: .product-excerpt -->
    </div><!-- Ends: .product-single -->
</div><!-- ends: .col-lg-4 -->