<!-- start menu-area -->
    <div class="menu-area">
        <div class="top-menu-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-fullwidth">
                            <div class="logo-wrapper">
                                <div class="logo logo-top">
                                    <a [routerLink]="['/']">
                                        <img src="/assets/img/logo-getjob.png" alt="logo image" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="menu-container">
                                <div class="d_menu">
                                    <nav class="navbar navbar-expand-lg mainmenu__menu">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon icon-menu"></span>
                                        </button>
                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                            <ul class="navbar-nav">
                                                <li>
                                                    <a [routerLink]="['/']">Home</a>
                                                </li>
                                                <li>
                                                    <a [routerLink]="['/jobs']">Jobs</a>
                                                </li>
                                                <li>
                                                    <a [routerLink]="['/contact']">Contact</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </nav>
                                </div>
                            </div>
                            <div class="author-menu">
                                <!-- start .author-area -->
                                <div class="author-area">
                                    <!--start .author-author__info-->
                                    <div class="author-author__info has_dropdown" *ngIf="userService.isAuthenticated()">
                                        <div class="author__avatar online">
                                            <img src="{{ (userService.getUser() && userService.getUser().thumbnail)? userService.getUser().thumbnail : 'assets/img/no-user-44.jpg' }}"
                                                 alt="user avatar" class="rounded-circle icon-40x40">
                                        </div>
                                        <div class="dropdown dropdown--author">
                                            <div class="author-credits d-flex">
                                                <div class="author__avatar">
                                                    <img src="{{ (userService.getUser() && userService.getUser().thumbnail)? userService.getUser().thumbnail : 'assets/img/no-user-44.jpg' }}"
                                                         alt="user avatar" class="rounded-circle icon-40x40">
                                                </div>
                                                <div class="autor__info">
                                                    <p class="name">
                                                         {{ userService.getUser().first_name }}
                                                    </p>
                                                </div>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a [routerLink]="['/user/dashboard']">
                                                        <span class="icon-home"></span> Dashboard
                                                    </a>
                                                </li>
                                                <li>
                                                    <a [routerLink]="['/user/settings']">
                                                        <span class="icon-settings"></span> Setting
                                                    </a>
                                                </li>
                                                <li>
                                                    <a [routerLink]="" (click)="logout()">
                                                        <span class="icon-logout"></span>Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="author-author__info has_dropdown" *ngIf="!userService.isAuthenticated()">
                                        <ul class="navbar-nav">
                                            <li>
                                                <a [routerLink]="">My Account</a>
                                            </li>
                                        </ul>
                                        <div class="dropdown dropdown--author">
                                            <ul>
                                                <li>
                                                    <a [routerLink]="['login']">
                                                        <span class="icon-home"></span> Login
                                                    </a>
                                                </li>
                                                <li>
                                                    <a [routerLink]="['register']">
                                                        <span class="icon-settings"></span> Register
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end /.author-author__info-->
                                </div>
                                <!-- end .author-area -->

                                <!-- author area restructured for mobile -->
                                <div class="mobile_content ">
                                    <span class="icon-user menu_icon"></span>
                                    <!-- offcanvas menu -->
                                    <div class="offcanvas-menu closed">
                                        <span class="icon-close close_menu"></span>
                                        <div class="author-author__info">
                                            <div class="author__avatar v_middle">
                                                <img src="assets/img/no-user-44.jpg" alt="user avatar">
                                            </div>
                                        </div>
                                        <!--end /.author-author__info-->
                                        <div class="author__notification_area">
                                            <ul>
                                                <li>
                                                    <a href="notification.html">
                                                        <div class="icon_wrap">
                                                            <span class="icon-bell"></span>
                                                            <span class="notification_count noti">25</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="message.html">
                                                        <div class="icon_wrap">
                                                            <span class="icon-envelope"></span>
                                                            <span class="notification_count msg">6</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="cart.html">
                                                        <div class="icon_wrap">
                                                            <span class="icon-basket"></span>
                                                            <span class="notification_count purch">2</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--start .author__notification_area -->
                                        <div class="dropdown dropdown--author">
                                            <ul>
                                                <li>
                                                    <a href="author.html">
                                                        <span class="icon-user"></span>Profile</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard.html">
                                                        <span class="icon-home"></span> Dashboard</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-setting.html">
                                                        <span class="icon-settings"></span> Setting</a>
                                                </li>
                                                <li>
                                                    <a href="cart.html">
                                                        <span class="icon-basket"></span>Purchases</a>
                                                </li>
                                                <li>
                                                    <a href="favourites.html">
                                                        <span class="icon-heart"></span> Favourite</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-add-credit.html">
                                                        <span class="icon-credit-card"></span>Add Credits</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-statement.html">
                                                        <span class="icon-chart"></span>Sale Statement</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-upload.html">
                                                        <span class="icon-cloud-upload"></span>Upload Item</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-manage-item.html">
                                                        <span class="icon-notebook"></span>Manage Item</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-withdrawal.html">
                                                        <span class="icon-briefcase"></span>Withdrawals</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="icon-logout"></span>Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text-center">
                                            <a href="signup.html" class="author-area__seller-btn inline">Become a
                                                Seller</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end /.mobile_content -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end  -->
</div>
<!-- end /.menu-area -->