<div class="dashboard_menu_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="menu-toggler d-md-none">
                    <span class="icon-menu"></span> Dashboard Menu
                </button>
                <ul class="dashboard_menu background-purple">
                    <li [ngClass]="(currentPage === 'dashboard') ? 'active' : '' ">
                        <a [routerLink]="['/user/dashboard']">
                            <span class="lnr icon-home"></span>Dashboard
                        </a>
                    </li>
                    <li [ngClass]="(currentPage === 'settings') ? 'active' : '' ">
                        <a [routerLink]="['/user/settings']">
                            <span class="lnr icon-settings"></span>Setting
                        </a>
                    </li>
                    <li [ngClass]="(currentPage === 'add-job') ? 'active' : '' ">
                        <a [routerLink]="['/user/job/create']">
                            <span class="lnr icon-plus"></span>Add A Job
                        </a>
                    </li>
                    <li [ngClass]="(currentPage === 'jobs') ? 'active' : '' "
                        *ngIf="userService.getUser() && userService.getUser().is_provider">
                        <a [routerLink]="['/user/jobs']">
                            <span class="lnr icon-note"></span>Manage Jobs
                        </a>
                    </li>
                    <li [ngClass]="(currentPage === 'appointments') ? 'active' : '' "
                        *ngIf="userService.getUser() && userService.getUser().is_provider">
                        <a [routerLink]="['/user/appointments']">
                            <span class="lnr icon-list"></span>Appointments
                        </a>
                    </li>
                    <li [ngClass]="(currentPage === 'company') ? 'active' : '' "
                        *ngIf="userService.getUser() && userService.getUser().is_provider">
                        <a [routerLink]="['/user/company']">
                            <span class="lnr icon-menu"></span>Company
                        </a>
                    </li>
                    <li [ngClass]="(currentPage === 'key-persons') ? 'active' : '' "
                        *ngIf="userService.getUser() && userService.getUser().is_provider">
                        <a [routerLink]="['/user/key-persons']">
                            <span class="lnr icon-user-follow"></span>Key Persons
                        </a>
                    </li>
                </ul><!-- ends: .dashboard_menu -->
            </div><!-- ends: .col-md-12 -->
        </div><!-- ends: .row -->
    </div><!-- ends: .container -->
</div><!-- ends: .dashboard_menu_area -->