<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="signup_area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                
                <form [formGroup]="registerForm" (submit)="onSubmitForm()">
                    <div class="cardify signup_form">
                        <div class="login--header">
                            <h3>Create Your Account</h3>
                            <p>Please fill the following fields with appropriate information to register a new getJob
                                account.
                            </p>
                        </div><!-- end .login_header -->
                        <div class="login--form">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input id="firstName" type="text" class="text_field" placeholder="Enter your first name" formControlName="firstName">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" type="text" class="text_field" placeholder="Enter your last name" formControlName="lastName">
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input id="email" type="email" class="text_field" placeholder="Enter your email address" formControlName="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="text_field" placeholder="Enter your password..." formControlName="password">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input id="confirmPassword" type="password" class="text_field" placeholder="Confirm password" formControlName="confirmPassword">
                            </div>
                            <button class="btn btn--md register_btn btn-primary homadify-btn" type="submit" [disabled]="!canSubmit()">Register Now</button>
                            <div class="login_assist">
                                <p>Already have an account?
                                    <a [routerLink]="['/login']">Login</a>
                                </p>
                            </div>
                        </div><!-- end .login--form -->
                    </div><!-- end .cardify -->
                </form>

            </div><!-- end .col-md-6 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
</section><!-- ends: .signup_area -->