<div class="author-card sidebar-card mt-3" *ngIf="provider">
    <div class="card-title">
        <h4>Recruiter Infos</h4>
    </div>
    <div class="author-infos">
        <div class="author-top">
            <div class="author_avatar">
                <img src="{{ (provider.thumbnail)? provider.thumbnail : 'assets/img/author-avatar.jpg' }}"
                     alt="Presenting the broken author avatar :D"
                     class="w-100 h-100">
            </div>
            <div class="author">
                <a [routerLink]="['/person/', provider.public_id]">
                    <h5 class="text-color-purple">{{ provider.first_name }}</h5>
                    <h6 class="text-color-purple">{{ provider.last_name }}</h6>
                </a>
            </div>
        </div><!-- ends: .author-top -->
        <div class="social social--color--filled mb-0" *ngIf="providerSocials">
            <ul>
                <li *ngIf="providerSocials.facebook">
                    <a href="https://facebook.com/{{providerSocials.facebook}}"
                       class="recruiter-box-social"
                       target="_blank">
                        <span class="fab fa-facebook"></span>
                    </a>
                </li>
                <li *ngIf="providerSocials.twitter">
                    <a href="https://twitter.com/{{providerSocials.twitter}}"
                       class="recruiter-box-social"
                       target="_blank">
                        <span class="fab fa-twitter"></span>
                    </a>
                </li>
                <li *ngIf="providerSocials.instagram">
                    <a href="https://instagram.com/{{providerSocials.instagram}}"
                       class="recruiter-box-social"
                       target="_blank">
                        <span class="fab fa-linkedin"></span>
                    </a>
                </li>
                <li *ngIf="providerSocials.dribbble">
                    <a href="https://dribbble.com/{{providerSocials.dribbble}}"
                       class="recruiter-box-social"
                       target="_blank">
                        <span class="fab fa-dribbble"></span>
                    </a>
                </li>
            </ul>
        </div><!-- ends: .social -->
    </div><!-- ends: .author-infos -->
</div><!-- ends: .author-card -->