

<form [formGroup]="cvJobsForm" (submit)="onSubmitForm()">
    <div class="information__set">
        <div class="information_wrapper form--fields row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="position">Position
                        <sup>*</sup>
                    </label>
                    <input type="text" id="position" class="text_field" placeholder="Position" formControlName="position">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="company">Company
                        <sup>*</sup>
                    </label>
                    <input type="text" id="company" class="text_field" placeholder="Company" formControlName="company">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="syear">Start Year
                        <sup>*</sup>
                    </label>
                    <input type="number" min="1900" max="2020" id="syear" class="text_field" placeholder="Start Year" formControlName="yearStart">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="eyear">End Year
                        <sup>*</sup>
                    </label>
                    <input type="number" min="1900" max="2020" id="eyear" class="text_field" placeholder="End Year" formControlName="yearEnd">
                </div>
            </div>
                    
            <div class="col-md-12">
                <div class="">
                    <label for="responsibilities">Responsibilities
                        <sup>*</sup>
                    </label>
                    <textarea id="responsibilities" class="text_field" placeholder="Responsibilities..." formControlName="responsibilities"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <div class="dashboard_setting_btn">
                    <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit()">Save Job</button>
                </div>
            </div>

        </div><!-- ends: .information_wrapper -->
    </div><!-- ends: .information__set -->
</form>