<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="dashboard-area">
    
    <app-user-navbar [currentPage]="'jobs'"></app-user-navbar>

    <div class="dashboard_contents section--padding">
        <div class="container">
            <div class="row">

                <app-user-edit-job-form class="w-100"></app-user-edit-job-form>

                <app-user-edit-job-images class="w-100"></app-user-edit-job-images>

            </div><!-- ends: .row -->
        </div><!-- ends: .container -->
    </div><!-- ends: .dashboard_menu_area -->

    

</section><!-- ends: .dashboard-area -->