<div class="col-md-12">
    <form [formGroup]="infoForm" (submit)="onSubmitForm()">
        <div class="information_module">
            <div class="toggle_title">
                <h4>Personal Information</h4>
            </div>
            <div class="information__set">
                <div class="information_wrapper form--fields row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fname">First Name
                                <sup>*</sup>
                            </label>
                            <input type="text" id="fname" class="text_field" placeholder="First Name" formControlName="firstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lname">Last Name
                                <sup>*</sup>
                            </label>
                            <input type="text" id="lname" class="text_field" placeholder="Last name" formControlName="lastName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" id="country" class="text_field" placeholder="Country" formControlName="country">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="county">County</label>
                            <input type="text" id="county" class="text_field" placeholder="County" formControlName="county">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="spklanguages">Spoken Languages</label>
                            <input type="text" id="spklanguages" class="text_field" placeholder="Spoken languages" formControlName="spokenLanguages">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <label for="address">Address</label>
                            <textarea name="address" id="address" class="text_field" placeholder="Address..." formControlName="address"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <label for="hobbies">Hobbies</label>
                            <textarea name="author_bio" id="hobbies" class="text_field" placeholder="Short brief about your hobbies..." formControlName="hobbies"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <label for="curiosities">Curiosities</label>
                            <textarea name="author_bio" id="curiosities" class="text_field" placeholder="Short brief about your curiosities..." formControlName="curiosities"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit()">Save Change</button>
                        </div>
                    </div>

                </div><!-- ends: .information_wrapper -->
            </div><!-- ends: .information__set -->
        </div><!-- ends: .information_module -->
    </form>
</div><!-- ends: .col-md-12 -->