<section class="cta2 bgimage background-orange">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta-content">
                    <div class="cta-text">
                        <h2>Ready To Join Our Comunity!</h2>
                        <p>Don't waste time, find your next job today</p>
                    </div>
                    <div class="cta-btn">
                        <a [routerLink]="['/register']" class="btn btn--md btn-primary homadify-btn">Join Us Today</a>
                    </div>
                </div>
            </div><!-- ends: .col-md-12 -->
        </div>
    </div>
</section><!-- ends: .cta2 -->