<div class="sidebar-card card-pricing">
    <div class="price" *ngIf="company && company.company_name">
        <h6>{{ company.company_name }}</h6>
    </div>
    <div class="purchase-button">
        <a [routerLink]="" (click)="apply()" class="btn btn--lg btn-primary homadify-btn">Apply Now</a>
    </div><!-- end .purchase-button -->
</div><!-- end .sidebar--card -->