<div>
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <div class="product__description">
                <img src="asset/img/pur2.jpg" alt="Purchase image">
                <div class="short_desc">
                    <h5>
                        <a href="">{{ application.job_title }}</a>
                    </h5>
                    <p>{{ application.descriptionPreview() }}</p>
                </div>
            </div><!-- ends: .product__description -->
        </div><!-- ends: .col-md-5 -->
        <div class="col-lg-5 col-sm-6">
            <div class="product__additional_info">
                <ul>
                    <li>
                        <p>
                            <span>Date: </span>
                        </p>
                    </li>
                    <li class="license">
                        <p>
                            <span>Time: </span>
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>Author:</span> Liontech
                        </p>
                    </li>
                </ul>
            </div><!-- ends: .product__additional_info -->
        </div><!-- ends: .col-md-3 -->
        <div class="col-lg-2 col-sm-6">
            <div class="product__price_download">
                <div [ngClass]="(application.status == 'pending')? 'item_action v_middle d-block' : 'item_action v_middle'">
                    <div class="notification__icons text-center">
                        <span *ngIf="application.status == 'pending'" class="booking-type-bedge pending-badge">Pending</span>
                        <span *ngIf="application.status == 'accepted'" class="booking-type-bedge accepted-badge">Accepted</span>
                        <span *ngIf="application.status == 'declined'" class="booking-type-bedge declined-badge">Declined</span>
                        <span *ngIf="application.status == 'canceled'" class="booking-type-bedge canceled-badge">Canceled</span>
                    </div>
                    <a [routerLink]="" (click)="cancel(application.id)"
                       class="btn btn-sm homadify-btn mt-3"
                       *ngIf="application.status == 'pending'">
                        Cancel
                    </a><!-- ends: .rating--btn -->
                </div><!-- ends: .item_action -->
            </div><!-- ends: .product__price_download -->
        </div><!-- ends: .col-md-4 -->
    </div>
</div><!-- ends: .single_product -->