<div class="col-md-12">
    <form [formGroup]="editJobForm" (submit)="onSubmitForm()">
        <div class="information_module">
            <div class="information__set become-a-provider">
                <div class="information_wrapper">
                    <div class="become_a_provider_area">
                        <div class="form-group">
                            <label for="title">Job Title
                                <sup>*</sup>
                            </label>
                            <input type="text" id="title"
                                   class="text_field" placeholder="Title"
                                   formControlName="title">
                        </div>
                        <label for="category">Category
                            <sup>*</sup>
                        </label>
                        <div class="form-group select-wrap">
                            <select class="text_field" id="category" formControlName="category">
                                <option value="it">IT</option>
                                <option value="marketing">Marketing</option>
                            </select>
                            <span class="lnr icon-arrow-down"></span>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label for="description">Description
                                    <sup>*</sup>
                                </label>
                                <textarea id="description" class="text_field"
                                          placeholder="Short brief about your job..." formControlName="description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label for="included">What is included?</label>
                                <textarea id="included" class="text_field"
                                          placeholder="Included..." formControlName="included"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="duration">No. of hours per day</label>
                            <input type="number" id="duration"
                                   class="text_field" formControlName="duration" min="0" max="8">
                        </div>

                        <label for="cover_photo" class="upload_btn">
                            <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit()">Edit</button>
                        </label>
                    </div>
                </div>
            </div>
        </div><!-- ends: .information_module -->
    </form>
</div><!-- ends: .col-md-12 -->