<div class="information__set mail_setting">
    <div class="information_wrapper">
        
        <div *ngFor="let education of educations" class="custom_checkbox">
            <h4>{{ education.institution }}</h4>
            <h6>{{ education.specialization }}</h6>
            <h6>{{ education.type }}, {{ education.city }}</h6>
            <p class="mt-2 mb-2">{{ education.year_start }} - {{ education.year_end }}</p>
            <button type="button" class="btn btn-sm homadify-btn mt-3" (click)="deleteCvEducation(education.id)">Delete</button>
        </div><!-- ends: .custom-checkbox -->
        
    </div><!-- ends: .information_wrapper -->
</div>