    <section class="hero-area bgimage" style="background-image: url('/assets/img/background-var-1.jpg')">
        <div class="hero-content content_above">
            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero__content__title">
                                <h1 class="display-3">
                                    Do you want a new challenge ?
                                </h1>
                                <p class="tagline">Find your next job in a startUp company</p>
                            </div>
                            <!-- end .hero__btn-area-->
                            
                            <app-search-form></app-search-form>

                            <!--start .search-area -->
                        </div><!-- ends: .col-md-12 -->
                    </div><!-- ends: .row -->
                </div><!-- ends: .container -->
            </div><!-- ends: .contact_wrapper -->
        </div><!-- ends: hero-content -->
    </section><!-- ends: .hero-area -->
    
    <section class="featured-area section--padding bgcolor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Explore our offer</h1>
                        <p>Just a few steps to start the most interesting challenge of your life. Find a job in a startUp company now!</p>
                    </div>
                </div><!-- Ends: .col-md-12 -->
                <div class="col-md-12">
                    <div class="more-item-btn mt-0">
                        <a [routerLink]="['/jobs']" class="btn btn--lg btn-secondary homadify-btn">More Featured Items</a>
                    </div>
                </div><!-- Ends: .produ-slide-area -->
            </div>
        </div>
    </section><!-- ends: .featured-area -->

    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Join Our Community</h1>
                    </div>
                </div>
                <!-- CTA Single -->
                <div class="col-md-5 cta-single">
                    <h3>Want to Find a Job</h3>
                    <p>Create your account, build your CV and apply for jobs in StartUp companies.</p>
                    <a [routerLink]="['/register']" class="btn btn--lg btn-primary homadify-btn">Register</a>
                </div>
                <div class="col-md-2 cta-divider">
                    <span>OR</span>
                </div>
                <div class="col-md-5 cta-single">
                    <h3>Want to hire</h3>
                    <p>Create your account, fill in the company details and create new jobs.</p>
                    <a [routerLink]="['/register']" class="btn btn--lg btn-secondary homadify-btn-orange">Register</a>
                </div>
            </div>
        </div>
    </section><!-- ends: .cta -->

    <section class="working-process section--padding">
        <div class="container">
            <div class="row">
                <!-- Start Section Title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>It Works Really Easy</h1>
                    </div>
                </div>
                <!-- Ends: .col-md-12/Section Title -->
                <div class="col-md-12 step-single">
                    <div class="step-count">
                        <span>Step 1</span>
                        <span><i class="fas fa-angle-down"></i></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 step-text r-padding">
                            <div>
                                <h2>Create your account</h2>
                                <p>Create your account to be able to apply for amazing jobs in StartUp companies.</p>
                            </div>
                        </div>
                        <div class="col-md-6 step-image l-padding">
                            <div>
                                <img src="assets/img/step-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div><!-- Ends .step-single -->
                <div class="col-md-12 step-single">
                    <div class="step-count step-count2">
                        <span>Step 2</span>
                        <span><i class="fas fa-angle-down"></i></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 step-image r-padding">
                            <div>
                                <img src="assets/img/step-2.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-6 step-text l-padding">
                            <div>
                                <h2>Build your CV</h2>
                                <p>Create your CV by completing all your informations. In this way you have much more chances of getting the job you need.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- Ends .step-single -->
                <div class="col-md-12 step-single">
                    <div class="step-count step-last">
                        <span>Step 3</span>
                        <span class="icon-emotsmile"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 step-text r-padding">
                            <div>
                                <h2>Apply</h2>
                                <p>Apply to jobs that you want.</p>
                            </div>
                        </div>
                        <div class="col-md-6 step-image l-padding">
                            <div>
                                <img src="assets/img/step-3.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div><!-- Ends .step-single -->
            </div>
        </div>
    </section><!-- ends: .wroking-process -->
    
    <app-newsletter></app-newsletter>