
.nvd3 {

    .nv-axis path { stroke: none;}
    .nv-axisMaxMin text { fill:$ctext; font-weight: $default-weight; }

    .nv-legend-symbol,
    .nv-legend-text,
    .tick text         { fill: lighten($ctext, 20%); }

    .nv-axisMin-x text {text-anchor: initial !important; }
    .nv-axisMax-x text {text-anchor: end !important; }

    .nv-controlsWrap { display:none; }

    .nv-stackedarea path.nv-area {
        fill-opacity: 0.25;
        stroke-opacity: 0;
    }
    .nv-stackedarea path.nv-area.hover {
        fill-opacity: 0.25;
    }

} //nvd3



.nvtooltip {
    position: absolute;
    background-color: rgba(255,255,255,1.0);
    color: $ctext;
    padding: 5px;
    border: 1px solid $cborder;

    font-family: Arial;
    font-size: 12px;
    text-align: left;
    pointer-events: none;

}
