<div class="col-md-12">
    <form [formGroup]="socialForm" (submit)="onSubmitForm()">
        <div class="information_module">
            <div class="toggle_title">
                <h4>Social Profiles</h4>
            </div>
            <div class="information__set social_profile">
                <div class="information_wrapper">
                    
                    <div class="social__single">
                        <div class="social_icon">
                            <span class="fab fa-facebook"></span>
                        </div>
                        <div class="input-group link_field">
                            <div class="input-group-prepend d-none d-sm-none d-md-flex">
                                <div class="input-group-text">www.facebook.com/</div>
                            </div>
                            <input type="text" class="form-control text_field" placeholder="ex: getJob" formControlName="facebook">
                        </div>
                    </div><!-- ends: .social__single -->

                    <div class="social__single">
                        <div class="social_icon">
                            <span class="fab fa-instagram"></span>
                        </div>
                        <div class="input-group link_field">
                            <div class="input-group-prepend d-none d-sm-none d-md-flex">
                                <div class="input-group-text">www.instagram.com/</div>
                            </div>
                            <input type="text" class="form-control text_field" placeholder="ex: getJob" formControlName="instagram">
                        </div>
                    </div><!-- ends: .social__single -->

                    <div class="social__single">
                        <div class="social_icon">
                            <span class="fab fa-twitter"></span>
                        </div>
                        <div class="input-group link_field">
                            <div class="input-group-prepend d-none d-sm-none d-md-flex">
                                <div class="input-group-text">www.twitter.com/</div>
                            </div>
                            <input type="text" class="form-control text_field" placeholder="ex: getJob" formControlName="twitter">
                        </div>
                    </div><!-- ends: .social__single -->

                    <div class="social__single">
                        <div class="social_icon">
                            <span class="fab fa-dribbble"></span>
                        </div>
                        <div class="input-group link_field">
                            <div class="input-group-prepend d-none d-sm-none d-md-flex">
                                <div class="input-group-text">www.dribbble.com/</div>
                            </div>
                            <input type="text" class="form-control text_field" placeholder="ex: getJob" formControlName="dribbble">
                        </div>
                    </div><!-- ends: .social__single -->

                    <div class="dashboard_setting_btn">
                        <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit()">Save Change</button>
                    </div>

                </div><!-- ends: .information_wrapper -->
            </div><!-- ends: .social_profile -->
        </div><!-- ends: .information_module -->
    </form>
</div><!-- ends: .col-md-12 -->