<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="login_area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">

                <form [formGroup]="loginForm" (submit)="onSubmitForm()">
                    <div class="cardify login">
                        <div class="login--header">
                            <h3>Welcome Back</h3>
                            <p>You can sign in with your email</p>
                        </div><!-- end .login_header -->
                        <div class="login--form">
                            <div class="form-group">
                                <label for="user_email">Email</label>
                                <input id="user_email" type="email" class="text_field" placeholder="Enter your email..." formControlName="email">
                            </div>
                            <div class="form-group">
                                <label for="pass">Password</label>
                                <input id="pass" type="password" class="text_field" placeholder="Enter your password..." formControlName="password">
                            </div>
                            <button class="btn btn--md btn-primary homadify-btn" type="submit" [disabled]="!canSubmit()">Login Now</button>
                            <div class="login_assist">
                                <p class="signup">Don't have an
                                    <a [routerLink]="['/register']">account</a>?
                                </p>
                            </div>
                        </div><!-- end .login--form -->
                    </div><!-- end .cardify -->
                </form>

            </div><!-- end .col-md-6 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
</section><!-- ends: .login_area -->