<div class="col-md-12">

    <div class="information_module">
        <div class="toggle_title">
            <h4>CV Education</h4>
        </div>

        <app-user-cv-education-form></app-user-cv-education-form>
        <app-user-cv-education-list></app-user-cv-education-list>

    </div>
    

</div>