<div class="col-lg-12" *ngIf="person">
    <div class="author-profile">
        <div class="row">
            <div class="col-lg-5 col-md-7">
                <div class="author-desc">
                    <img src="{{ (personInfo && personInfo.thumbnail)? personInfo.thumbnail : 'assets/img/no-user.jpg' }}"
                         alt="Person Thumbnail" class="icon-120x120">
                    <div class="infos">
                        <h4>{{ person.first_name }} {{ person.last_name }}</h4>
                        <span>{{ person.email }}</span>
                    </div>
                </div><!-- ends: .author-desc -->
            </div><!-- ends: .col-lg-5 -->
            <div class="col-lg-4 order-lg-1 col-md-12 order-md-2">
                <div class="author-social social social--color--filled">
                    <ul *ngIf="socials">
                        <li>
                            <a *ngIf="socials.facebook" href="https://facebook.com/{{socials.facebook}}" target="_blank">
                                <span class="fab fa-facebook"></span> Facebook
                            </a>
                        </li>
                        <li>
                            <a *ngIf="socials.twitter" href="https://twitter.com/{{socials.twitter}}" target="_blank">
                                <span class="fab fa-twitter"></span> Twitter
                            </a>
                        </li>
                        <li>
                            <a *ngIf="socials.dribbble" href="https://dribble.com/{{socials.dribble}}" target="_blank">
                                <span class="fab fa-dribbble"></span> Dribble
                            </a>
                        </li>
                        <li>
                            <a *ngIf="socials.instagram" href="https://instagram.com/{{socials.instagram}}" target="_blank">
                                <span class="fab fa-instagram"></span> Instagram
                            </a>
                        </li>
                    </ul>
                </div><!-- ends: .author-social -->
            </div><!-- ends: .col-lg-3 -->
            <div class="col-lg-3 order-lg-2 col-md-5 order-md-1"></div><!-- ends: .col-lg-4 -->
        </div>
    </div>
</div><!-- ends: .col-lg-12 -->