<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="activation-page-content section--padding">
    <h1 class="text-center pb-3">Activation Page</h1>
    
    <ng-container *ngIf="alert.show && (alert.type === 1)">
        <div class="col-lg-12 text-center">
            <span class="invalid-feedback" role="alert">
                <h4 class="text-color-red">{{ alert.message }}</h4>
            </span>
        </div>
    </ng-container>

    <ng-container *ngIf="alert.show && (alert.type === 3)">
        <div class="col-lg-12 text-center">
            <span class="valid-feedback" role="alert" style="display:block;">
                <h4 class="text-color-green">{{ alert.message }}</h4>
            </span>
        </div>
        <div class="col-lg-12 text-center">
            <a [routerLink]="['/register']"
               class="btn btn--lg btn-primary background-orange mt-4 homadify-btn">
                Go to login page
            </a>
        </div>
    </ng-container>

</section>