<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="author-profile-area" *ngIf="person">
    <div class="container">
        <div class="row">
            
            <app-person-summary class="w-100"
                                [person]="person"
                                [socials]="socials"
                                [personInfo]="personInfo">
            </app-person-summary>

            <div class="col-md-12 author-info-tabs">
                <ul class="nav nav-tabs" id="author-tab" role="tablist">
                    <li>
                        <a class="active" id="profile-tab"
                           data-toggle="tab" href="#profile"
                           role="tab" aria-controls="profile"
                           aria-selected="true" (click)="showBox('profile')">Profile</a>
                    </li>
                    <li>
                        <a id="experience-tab" data-toggle="tab"
                           href="#experience" role="tab"
                           aria-controls="experience" aria-selected="false"
                           (click)="showBox('experience')">Experience</a>
                    </li>
                    <li>
                        <a id="education-tab" data-toggle="tab"
                           href="#education" role="tab"
                           aria-controls="education" aria-selected="false"
                           (click)="showBox('education')">Education</a>
                    </li>
                </ul><!-- Ends: .nav-tabs -->
                <div class="tab-content" id="author-tab-content">
                    <app-person-info [person]="person" [personInfo]="personInfo" [shownBox]="shownBox"></app-person-info>
                    <app-person-experience [cvJobs]="cvJobs" [shownBox]="shownBox"></app-person-experience>
                    <app-person-education [cvEducation]="cvEducation" [shownBox]="shownBox"></app-person-education>
                </div><!-- ends: .tab-content -->
            </div><!-- Ends: .author-info-tabs -->
            
        </div>
    </div>
</section><!-- ends: .author-profile-area -->