<div class="information__set mail_setting">
    <div class="information_wrapper">
        
        <div *ngFor="let job of jobs" class="custom_checkbox">
            <h4>{{ job.position }}</h4>
            <h6>{{ job.company }}</h6>
            <p class="mt-2 mb-2">{{ job.year_start }} - {{ job.year_end }}</p>
            <p class="mt-2 mb-2">{{ job.responsibilities }}</p>
            <button type="button" class="btn btn-sm homadify-btn mt-3" (click)="deleteCvJob(job.id)">Delete</button>
        </div><!-- ends: .custom-checkbox -->
        
    </div><!-- ends: .information_wrapper -->
</div>