<tr>
    <td>
        <a [routerLink]="['/job/',appointment.job_id]">{{ appointment.job_title }}</a>
    </td>
    <td>
        {{ appointment.descriptionPreview() }}
    </td>
    <td>
        <span *ngIf="appointment.status == 'pending'" class="booking-type-bedge pending-badge">Pending</span>
        <span *ngIf="appointment.status == 'accepted'" class="booking-type-bedge accepted-badge">Accepted</span>
        <span *ngIf="appointment.status == 'declined'" class="booking-type-bedge declined-badge">Declined</span>
        <span *ngIf="appointment.status == 'canceled'" class="booking-type-bedge canceled-badge">Canceled</span>
    </td>
    <td>
        <a [routerLink]="['/person/', appointment.user.public_id]"
           *ngIf="appointment.user && appointment.user.public_id; else noUserBlock"
           target="_blank">
            {{ appointment.user.first_name }} {{ appointment.user.last_name }}
        </a>
        <ng-template #noUserBlock>User Deleted</ng-template>
    </td>
    <td class="action">
        <a class="mr-2 mb-1 mt-1 link-button-green accept-appointment-link"
           [routerLink]="" (click)="accept(appointment.id)"
           *ngIf="appointment.status == 'pending'">Accept
        </a>
        <a class="mr-2 mb-1 mt-1 link-button-red decline-appointment-link"
           [routerLink]="" (click)="decline(appointment.id)"
           *ngIf="appointment.status == 'pending'">Decline
        </a>
        <span *ngIf="appointment.status != 'pending'">No action needed</span>
    </td>
</tr>