<!-- Start Pagination -->
<nav class="pagination-default">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" [routerLink]="" preserveQueryParams (click)="toPage(1)" aria-label="First">
                <span>First</span>
            </a>
        </li>

        <li class="page-item disabled" *ngIf="(currentPage-3) > 0">
            <a class="page-link" [routerLink]="" preserveQueryParams>...</a>
        </li>
        
        <li *ngFor="let page of pages" [ngClass]="(page === currentPage)? 'page-item active' : 'page-item'">
            <a class="page-link" [routerLink]="" preserveQueryParams (click)="toPage(page)">{{ page }}</a>
        </li>

        <li class="page-item disabled" *ngIf="(currentPage+3) < lastPage">
            <a class="page-link" [routerLink]="" preserveQueryParams>...</a>
        </li>

        <li class="page-item">
            <a class="page-link" [routerLink]="" preserveQueryParams (click)="toPage(lastPage)" aria-label="Last">
                <span>Last</span>
            </a>
        </li>
    </ul>
</nav>
<!-- Ends: .pagination-default -->
  