<section class="subscribe bgimage background-orange">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 subscribe-inner">
                <div class="envelope-svg">
                    <img src="assets/img/svg/newsletter.svg" alt="" class="svg">
                </div>
                <p>Subscribe to get the latest news, jobs and offer information. Don't worry, we won't send
                    spam!</p>
                <form class="subscribe-form" [formGroup]="newsletterForm" (submit)="onSubmitForm()">
                    <div class="form-group">
                        <input type="email" placeholder="Enter your email address" formControlName="email" required>
                        <button type="submit" class="btn btn--sm btn-primary homadify-btn" [disabled]="!canSubmit()">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- ends: .subscribe -->