<div>
                
    <carousel *ngIf="images && ( images.length > 0 )">
        <slide *ngFor="let image of images">
          <img src="{{ (image.path)? image.path : 'assets/img/single1.jpg' }}" alt="job image" style="display: block; width: 100%;">
        </slide>
    </carousel>
    
    <div class="item-info" *ngIf="job">
        <div class="item-navigation">
            <ul class="nav nav-tabs" role="tablist">
                <li>
                    <a href="#product-details" class="active" id="tab1" aria-controls="product-details" role="tab" data-toggle="tab" aria-selected="true">
                        <span class="icon icon-docs"></span> Item Details
                    </a>
                </li>
                <li>
                    <a href="#product-company" id="tab2" aria-controls="product-company" role="tab" data-toggle="tab">
                        <span class="icon icon-docs"></span> Company Details
                    </a>
                </li>
                <li>
                    <a href="#product-review" id="tab3" aria-controls="product-review" role="tab" data-toggle="tab">
                        <span class="icon icon-star"></span>Company Reviews
                        <span>({{ reviews.length }})</span>
                    </a>
                </li>
            </ul>
        </div><!-- ends: .item-navigation -->

        <div class="tab-content">
            
            <div class="fade show tab-pane product-tab active" id="product-details" role="tabpanel" aria-labelledby="tab1">
                <div class="tab-content-wrapper">
                    <ng-container *ngIf="job.description">
                        <h3>Job Description</h3>
                        <p class="p-bottom-30">{{ job.description }}</p>
                    </ng-container>
                    <ng-container *ngIf="job.included">
                        <h3>What is included</h3>
                        <p class="p-bottom-30">{{ job.included }}</p>
                    </ng-container>
                </div>
            </div><!-- ends: .tab-content -->

            <div class="fade show tab-pane product-tab" id="product-company" role="tabpanel" aria-labelledby="tab2">
                
                <div class="tab-content-wrapper">
                    <ng-container *ngIf="company.company_name">
                        <h3>{{ company.company_name }}</h3>
                        <p class="p-bottom-30" *ngIf="company.company_description">
                            {{ company.company_description }}{{ company.company_evolution }}
                        </p>
                        <ng-container *ngIf="company.company_evolution">
                            <h3>Company Evolution</h3>
                            <p class="p-bottom-30">
                                {{ company.company_evolution }}
                            </p>
                        </ng-container>
                        <ng-container *ngIf="company.company_current">
                            <h3>Company Current State</h3>
                            <p class="p-bottom-30">
                                {{ company.company_current }}
                            </p>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="row col-md-12 tab-content-wrapper pt-0" *ngIf="keyPersons && (keyPersons.length > 0)">
                    <h3 class="col-xl-12 col-lg-12 col-md-12">Key Persons</h3>
                    <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let person of keyPersons">
                        <div class="team-single" style="background-color:bisque;">
                            <figure>
                                <img src="{{ (person.path)? person.path : 'assets/img/team1.jpg' }}" alt=""
                                     class="img-fluid rounded-circle icon-150x150">
                                <figcaption>
                                    <h5>{{ person.name }}</h5>
                                    <span class="member-title">{{ person.position }}</span>
                                </figcaption>
                            </figure>
                        </div><!-- ends: .team-single -->
                    </div>         
                </div>

            </div><!-- ends: .tab-content -->

            <div class="fade tab-pane product-tab" id="product-review" role="tabpanel" aria-labelledby="tab3">
                <app-visitor-job-reviews [company]="company"
                                         [reviews]="reviews"
                                         (addReview)="addReview($event)"></app-visitor-job-reviews>
            </div>

        </div><!-- ends: .tab-content -->
    </div><!-- ends: .item-info -->
</div><!-- ends: .col-md-8 -->