<div class="tab-pane fade show active" id="education" role="tabpanel" aria-labelledby="education-tab" *ngIf="shownBox === 'education'">
    <div class="author_module about_author">

        <div *ngFor="let education of cvEducation" class="custom_checkbox" style="border-bottom: 1px solid lightgray;">
            <h4>{{ education.institution }}</h4>
            <h6>{{ education.specialization }}</h6>
            <h6>{{ education.type }}, {{ education.city }}</h6>
            <p class="mt-2 mb-2">{{ education.year_start }} - {{ education.year_end }}</p>
        </div><!-- ends: .custom-checkbox -->

        <div *ngIf="cvEducation && (cvEducation.length == 0)">
            <h3>No information</h3>
        </div>

    </div>
</div><!-- Ends: .profile-tab -->