<div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab" *ngIf="shownBox === 'profile'">
    <div class="author_module about_author">
        <h3>Hi,
            <span>I am {{ person.first_name }} {{ person.last_name }}</span>
        </h3>

        <div *ngIf="personInfo && ( personInfo.address || personInfo.country || personInfo.county )" class="pb-4">
            <h3 class="pb-0">Where I live</h3>
            <span *ngIf="personInfo.country">{{ personInfo.country }}</span>
            <span *ngIf="personInfo.country && personInfo.county">, </span>
            <span *ngIf="personInfo.county">{{ personInfo.county }}</span>
            <p *ngIf="personInfo.address">{{ personInfo.address }}</p>
        </div>

        <div *ngIf="personInfo && personInfo.curiosities" class="pb-4">
            <h3 class="pb-0">My curiosities</h3>
            <p>{{ personInfo.curiosities }}</p>
        </div>

        <div *ngIf="personInfo && personInfo.hobbies" class="pb-4">
            <h3 class="pb-0">My hobbies</h3>
            <p>{{ personInfo.hobbies }}</p>
        </div>

        <div *ngIf="personInfo && personInfo.spoken_languages" class="pb-4">
            <h3 class="pb-0">I speak</h3>
            <p>{{ personInfo.spoken_languages }}</p>
        </div>

    </div>
</div><!-- Ends: .profile-tab -->