
<div class="thread thread_review">
        
    <ul class="media-list thread-list" *ngIf="reviews && (reviews.length > 0); else noReviewsBlock">
        <li class="single-thread" *ngFor="let review of reviews">
            <div class="media">
                <div class="media-left">
                    <img class="media-object icon-70x70"
                         src="{{ (review.reviewer && review.reviewer.thumbnail)? review.reviewer.thumbnail : 'assets/img/m1.png' }}"
                         alt="Reviewer Avatar">
                </div><!-- ends: .media-left -->
                <div class="media-body">
                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="media-heading">
                                <h4>{{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</h4>
                            </div>
                            <div class="rating product--rating" *ngIf="review.rating">
                                Rating: {{ review.rating }}/5
                            </div>
                        </div>
                    </div>
                    <p>{{ review.comment }}</p>
                </div><!-- ends: .media-body -->
            </div><!-- ends: .media -->
        </li><!-- end single comment thread-->
    </ul><!-- ends: .media-list -->
    <ng-template #noReviewsBlock>
        <h5 class="comment-form-area">No Reviews</h5>
    </ng-template>

    <div class="comment-form-area" *ngIf="userService.isAuthenticated()">
        <h4>Leave a review</h4>
        <div class="media comment-form">
            <div class="media-left">
                <a href="#">
                    <img class="media-object icon-70x70"
                         src="{{ (userService.getUser() && userService.getUser().thumbnail)? userService.getUser().thumbnail : 'assets/img/m7.png' }}"
                         alt="Reviewer Avatar">
                </a>
            </div>
            <div class="media-body">
                <form class="comment-reply-form" [formGroup]="reviewForm" (submit)="onSubmitForm()">
                    <select name="rating" class="select--field mb-2" formControlName="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <textarea name="reply-comment" placeholder="Write your comment..." formControlName="comment"></textarea>
                    <button type="submit" class="btn btn--sm btn-primary homadify-btn" [disabled]="!canSubmit()">Post Review</button>
                </form>
            </div>
        </div><!-- ends: .comment-form -->
    </div>

</div><!-- ends: .comments -->