<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="contact-area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h1>How can We <span class="highlighted">Help?</span></h1>
                            <p>Contact us using one of the options listed below.</p>
                        </div>
                    </div><!-- ends: .col-md-12 -->
                </div><!-- ends: .row -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact_tile">
                            <span class="tiles__icon icon-location-pin"></span>
                            <h4 class="tiles__title">Office Address</h4>
                            <div class="tiles__content">
                                <p>Bucharest, Romania</p>
                            </div>
                        </div><!-- ends: .contact_tile -->
                    </div><!-- ends: col-md-4 -->
                    <div class="col-md-4">
                        <div class="contact_tile">
                            <span class="tiles__icon icon-earphones"></span>
                            <h4 class="tiles__title">Phone Number</h4>
                            <div class="tiles__content">
                                <p>+40-743-496-921</p>
                            </div>
                        </div><!-- ends: .contact_tile -->
                    </div><!-- ends: col-md-4 -->
                    <div class="col-md-4">
                        <div class="contact_tile">
                            <span class="tiles__icon icon-envelope-open"></span>
                            <h4 class="tiles__title">Phone Number</h4>
                            <div class="tiles__content">
                                <p>support@getjob.com</p>
                            </div>
                        </div><!-- ends: .contact_tile -->
                    </div><!-- ends: .col-md-4 -->
                    <div class="col-md-12">
                        <div class="contact_form cardify">
                            <div class="contact_form__title">
                                <h2>Leave Your Messages</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <div class="contact_form--wrapper">
                                        
                                        <form [formGroup]="contactForm" (submit)="onSubmitForm()">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="email" placeholder="Email*" formControlName="email" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Name" formControlName="name">
                                                    </div>
                                                </div>
                                            </div>
                                            <textarea cols="30" rows="10" placeholder="Message*" formControlName="message" required></textarea>
                                            <div class="sub_btn">
                                                <button type="submit"
                                                        class="btn btn--md btn-primary homadify-btn"
                                                        [disabled]="!canSubmit()">Send Message
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div><!-- ends: .col-md-8 -->
                            </div><!-- ends: .row -->
                        </div><!-- ends: .contact_form -->
                    </div><!-- ends: .col-md-12 -->
                </div>
            </div>
        </div>
    </div><!-- ends: .container -->
</section><!-- ends: .contact-area -->