<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="dashboard-area">
    
    <app-user-navbar [currentPage]="'settings'"></app-user-navbar>

    <div class="dashboard_contents section--padding">
        <div class="container">
            <div class="row">
                    
                <app-user-avatar-settings class="w-100"></app-user-avatar-settings>
                <app-user-info-settings></app-user-info-settings>
                <app-user-social-settings class="w-100"></app-user-social-settings>
                <app-user-career-settings class="w-100"></app-user-career-settings>
                <app-user-cv-jobs-settings class="w-100"></app-user-cv-jobs-settings>
                <app-user-cv-education-settings class="w-100"></app-user-cv-education-settings>

            </div><!-- ends: .row -->
        </div><!-- ends: .container -->
    </div><!-- ends: .dashboard_menu_area -->
</section><!-- ends: .dashboard-area -->