<div class="search-area">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="search_box">
                
                <form [formGroup]="searchForm" (submit)="onSubmitForm()">
                    <input type="text" class="text_field" placeholder="Search jobs..." formControlName="search">
                    <div class="search__select select-wrap">
                        <select name="category" class="select--field" formControlName="category">
                            <option value="">All Categories</option>
                            <option value="it">IT</option>
                            <option value="marketing">Marketing</option>
                        </select>
                        <span class="icon-arrow-down"></span>
                    </div><!-- ends: .select-wrap -->
                    <button type="submit" class="search-btn btn--lg btn-primary homadify-btn" [disabled]="!canSubmit()">Search Now</button>
                </form>

            </div><!-- end .search_box -->
        </div>
    </div>
</div>