<div class="col-md-12">
    <form [formGroup]="providerForm" (submit)="onSubmitForm()">
        <div class="information_module">
            <div class="information__set become-a-provider">
                <div class="information_wrapper">
                    <div class="become_a_provider_area">
                        <div class="form-group">
                            <label for="pnumber">Phone Number
                                <sup>*</sup>
                            </label>
                            <input type="text" id="pnumber"
                                   class="text_field" placeholder="Phone number"
                                   formControlName="phone">
                        </div>
                        <div class="form-group">
                            <label for="cname">Company Name
                                <sup>*</sup>
                            </label>
                            <input type="text" id="cname"
                                   class="text_field" placeholder="Company Name"
                                   formControlName="companyName">
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label for="cdescription">Company Description
                                    <sup>*</sup>
                                </label>
                                <textarea id="cdescription" class="text_field"
                                          placeholder="Short brief about your company..." formControlName="companyDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label for="cevolution">Company Evolution</label>
                                <textarea id="cevolution" class="text_field"
                                          placeholder="Company evolution..." formControlName="companyEvolution"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label for="ccurrent">Company Current Status</label>
                                <textarea id="ccurrent" class="text_field"
                                          placeholder="Company current status..." formControlName="companyCurrent"></textarea>
                            </div>
                        </div>

                        <label for="cover_photo" class="upload_btn">
                            <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit()">Become a Provider</button>
                        </label>
                    </div>
                </div>
            </div>
        </div><!-- ends: .information_module -->
    </form>
</div><!-- ends: .col-md-12 -->