<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="dashboard-area">
    
    <app-user-navbar [currentPage]="'dashboard'"></app-user-navbar>

    <div class="dashboard_contents p-top-100 p-bottom-70">
        <div class="container">
            
            <div class="row" *ngIf="applications">
                <div class="col-md-12">
                    <div class="filter-bar clearfix filter-bar2 pb-4 pt-4">
                        <div class="dashboard__title">
                            <h3>{{ applications.length }} Job Application(s)</h3>
                            <h5 *ngIf="estimatedSalary" class="mt-2">Estimated salary: {{ estimatedSalary }} EUR</h5>
                        </div>
                    </div><!-- ends: .filter-bar -->
                </div><!-- ends: .col-md-12 -->
            </div><!-- ends: .row -->

            <div class="product_archive">
                <div class="title_area">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <h5>Job Details</h5>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <h5 class="add_info">Additional Info</h5>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h5>Status</h5>
                        </div>
                    </div>
                </div><!-- ends: .title_area -->
                <div class="row">

                    <app-user-application-row class="single_product clearfix col-md-12"
                                              *ngFor="let application of applications"
                                              [application]="application">
                    </app-user-application-row>

                </div><!-- ends: .row -->
            </div><!-- ends: .product_archive2 -->

            
        </div><!-- ends: .container -->
    </div><!-- ends: .dashboard_menu_area -->
</section><!-- ends: .dashboard-area -->