<footer class="footer-area footer--light">
    <div class="footer-big">
        <!-- start .container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget">
                        <div class="widget-about">
                            <img src="assets/img/logo-getjob.png" alt="" class="img-fluid">
                            <p>getJob is here to help you find your new way.</p>
                            <ul class="contact-details">
                                <li>
                                    <span class="icon-earphones"></span>
                                    Call Us:
                                    <a href="tel:074-349-6921">074-349-6921</a>
                                </li>
                                <li>
                                    <span class="icon-envelope-open"></span>
                                    <a href="mailto:support@getjob.com">support@getjob.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-md-3 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h5 class="footer-widget-title">Our Company</h5>
                            <ul>
                                <li>
                                    <a [routerLink]="['/how-it-works']">How It Works</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-lg-3 -->
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-menu no-padding">
                            <h5 class="footer-widget-title">Help Support</h5>
                            <ul>
                                <li>
                                    <a [routerLink]="['/terms-conditions']">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/faq']">FAQs</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/contact']">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- Ends: .col-lg-3 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->
    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>&copy; 2020
                            <a [routerLink]="['/']">getJob</a>. All rights reserved. Created by
                            <a [routerLink]="['/']">ZAP</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>