<div class="col-md-12">
    <form [formGroup]="careerForm" (submit)="onSubmitForm()">
        <div class="information_module">
            <div class="toggle_title">
                <h4>Career Information</h4>
            </div>
            <div class="information__set">
                <div class="information_wrapper form--fields row">
                    <div class="col-md-6">
                        <label for="ccategory">Category
                            <sup>*</sup>
                        </label>
                        <div class="form-group select-wrap">
                            <select class="text_field" id="ccategory" formControlName="category">
                                <option value="it">IT</option>
                                <option value="marketing">Marketing</option>
                            </select>
                            <span class="lnr icon-arrow-down"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="clevel">Career Level
                            <sup>*</sup>
                        </label>
                        <div class="form-group select-wrap">
                            <select class="text_field" id="clevel" formControlName="level">
                                <option value="student">Student / Internship</option>
                                <option value="entry">Entry level (< 2 Years)</option>
                                <option value="medium">Medium level (2-5 Years)</option>
                                <option value="senior">Senior level (> 5 Years)</option>
                                <option value="management">Management</option>
                            </select>
                            <span class="lnr icon-arrow-down"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit()">Save Change</button>
                        </div>
                    </div>

                </div><!-- ends: .information_wrapper -->
            </div><!-- ends: .information__set -->
        </div><!-- ends: .information_module -->
    </form>
</div><!-- ends: .col-md-12 -->