<div class="tab-pane fade show active" id="experience" role="tabpanel" aria-labelledby="experience-tab" *ngIf="shownBox === 'experience'">
    <div class="author_module about_author">
        
        <div *ngFor="let job of cvJobs" class="custom_checkbox" style="border-bottom: 1px solid lightgray;">
            <h4>{{ job.position }}</h4>
            <h6>{{ job.company }}</h6>
            <p class="mt-2 mb-2">{{ job.year_start }} - {{ job.year_end }}</p>
            <p class="mt-2 mb-2">{{ job.responsibilities }}</p>
        </div><!-- ends: .custom-checkbox -->

        <div *ngIf="cvJobs && (cvJobs.length == 0)">
            <h3>No information</h3>
        </div>

    </div>
</div><!-- Ends: .profile-tab -->