<div class="col-md-12">

    <div class="information_module">
        <div class="toggle_title">
            <h4>CV Jobs</h4>
        </div>

        <app-user-cv-jobs-form></app-user-cv-jobs-form>
        <app-user-cv-job-list></app-user-cv-job-list>

    </div>
    

</div>