<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="dashboard-area">
    
    <app-user-navbar [currentPage]="'key-persons'"></app-user-navbar>

    <div class="dashboard_contents section--padding">
        <div class="container">
            <div class="row">

                <app-user-key-persons-form class="w-100"></app-user-key-persons-form>

                <app-user-key-persons-list class="w-100"></app-user-key-persons-list>

            </div><!-- ends: .row -->
        </div><!-- ends: .container -->
    </div><!-- ends: .key-persons_menu_area -->
 
</section><!-- ends: .key-persons-area -->