<div class="col-md-12">
    <div class="information_module">
        <div class="information__set profile_images">
            <div class="information_wrapper">
                <div class="profile_image_area">
                    <div>
                        <img src="{{ imgUrl }}" alt="Author profile area" class="icon-100x100">
                        <div class="img_info">
                            <p class="bold">Profile Image</p>
                            <p class="subtitle">JPG, GIF or PNG 100x100 px</p>
                        </div>
                    </div>
                    <form enctype="multipart/form-data">
                        <label for="cover_photo" class="upload_btn">
                            <input type="file" id="cover_photo" (change)="onFileChange($event)">
                            <span class="btn btn-sm btn-primary homadify-btn" aria-hidden="true">Upload New Image</span>
                            <a [routerLink]="" class="btn btn-sm btn-danger" (click)="deleteUserAvatar()">Delete Image</a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- ends: .information_module -->
</div><!-- ends: .col-md-12 -->