<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="single-product-desc">
    <div class="container">
        <div class="row">
            
            <app-visitor-job-info class="col-lg-8 col-md-12"
                                  [job]="job"
                                  [images]="images"
                                  [company]="company"
                                  [reviews]="reviews"
                                  [keyPersons]="keyPersons">
            </app-visitor-job-info>

            <div class="col-lg-4 col-md-12">
                <aside class="sidebar sidebar--single-product">
                    
                    <app-visitor-apply-box [job]="job"
                                           [company]="company">
                    </app-visitor-apply-box>
                    
                    <app-visitor-recruiter-box [provider]="provider"
                                               [providerSocials]="providerSocials">
                    </app-visitor-recruiter-box>

                </aside><!-- ends: .sidebar -->
            </div><!-- ends: .col-md-4 -->

        </div><!-- ends: .row -->
    </div><!-- ends: .container -->
</section><!-- ends: .single-product-desc -->