
//  Button sizes
// ==============================================================

.btn-xs { font-size: $font-size-xs; }
.btn-sm { font-size: $font-size-sm; }
.btn-md { font-size: $font-size-md; }
.btn-lg { font-size: $font-size-lg; }
.btn-xl { font-size: $font-size-xl; }

.btn-xs, .btn-group-xs > .btn { font-size: $font-size-xs; padding: 3px 6px 2px; }
.btn-sm, .btn-group-sm > .btn { font-size: $font-size-sm; padding: 4px 8px 3px; }
.btn-md, .btn-group-md > .btn { font-size: $font-size-md; padding: 6px 12px; }
.btn-lg, .btn-group-lg > .btn { font-size: $font-size-lg; padding: 8px 14px; }
.btn-xl, .btn-group-xl > .btn { font-size: $font-size-xl; padding: 10px 16px; }

.btn-padding-xs { padding-left: 5px; padding-right:5px; }
.btn-padding-sm { padding-left: 10px; padding-right:10px; }
.btn-padding-md { padding-left: 15px; padding-right:15px; }
.btn-padding-lg { padding-left: 25px; padding-right:25px; }
.btn-padding-xl { padding-left: 35px; padding-right:35px; }


//  Buttons
// ==============================================================

.btn { font-weight: $default-weight; border: 1px solid transparent; @include border-radius(2px); } 

//  Hover effects

.btn {
  display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; overflow: hidden;
  -webkit-transition-property: color, background-color; transition-property: color, background-color;
  -webkit-transition-duration: 0.4s; transition-duration: 0.4s;
}


//  default
// ===============

.btn-default {
  color: $ctext-default;
  background-color: $cmain-default;
  border-color:$cborder-default;
}

.btn-default:active:hover, .btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus, .btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color:            darken($ctext-default,2%);
  background-color: darken($cmain-default,2%);
  border-color:     darken($cborder-default,2%);
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active, .bootstrap-select .btn-default.disabled {
  color:            lighten($ctext-default,5%);
  background-color: lighten($cmain-default,5%);
  border-color:     lighten($cborder-default,5%);
}

.btn-default .caret { border-top-color: $ctext-default; }


.btn-label-default { color:$ctext; }
.btn-label-default:hover, .btn-label-default:focus, .btn-label-default:active, .btn-label-default.active, .open .dropdown-toggle.btn-label-default {
  color:            $ctext;
  background-color: $cmain-default;
  border-color:     $cborder-default;
}



//  white
// ===============

.btn-white {
  color: $ctext-white;
  background-color: $cmain-white;
  border-color:$cborder-white;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
  color:            darken($ctext-white,5%);
  background-color: darken($cmain-white,5%);
  border-color:     darken($cborder-white,5%);
}

.btn-white.disabled, .btn-white[disabled], fieldset[disabled] .btn-white, .btn-white.disabled:hover, .btn-white[disabled]:hover, fieldset[disabled] .btn-white:hover, .btn-white.disabled:focus, .btn-white[disabled]:focus, fieldset[disabled] .btn-white:focus, .btn-white.disabled:active, .btn-white[disabled]:active, fieldset[disabled] .btn-white:active, .btn-white.disabled.active, .btn-white[disabled].active, fieldset[disabled] .btn-white.active, .bootstrap-select .btn-white.disabled {
  color:            lighten($ctext-white,5%);
  background-color: lighten($cmain-white,5%);
  border-color:     lighten($cborder-white,5%);
}

.btn-white .caret { border-top-color: $ctext-white; }


//  primary
// ===============

.btn-primary {
  color: $ctext-primary;
  background-color: $cmain-primary;
  border-color:$cborder-primary;
}

.btn-primary:active:hover, .btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color:            darken($ctext-primary,5%);
  background-color: darken($cmain-primary,5%);
  border-color:     darken($cborder-primary,5%);
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active, .bootstrap-select .btn-primary.disabled {
  color:            lighten($ctext-primary,5%);
  background-color: lighten($cmain-primary,5%);
  border-color:     lighten($cborder-primary,5%);
}

.btn-primary .caret { border-top-color: $ctext-primary; }


//  secondary
// ===============

.btn-secondary {
  color: $ctext-secondary;
  background-color: $cmain-secondary;
  border-color:$cborder-secondary;
}

.btn-secondary:active:hover, .btn-secondary.active:hover,
.open > .dropdown-toggle.btn-secondary:hover,
.btn-secondary:active:focus, .btn-secondary.active:focus,
.open > .dropdown-toggle.btn-secondary:focus,
.btn-secondary:active.focus, .btn-secondary.active.focus,
.open > .dropdown-toggle.btn-secondary.focus,
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
  color:            darken($ctext-secondary,5%);
  background-color: darken($cmain-secondary,5%);
  border-color:     darken($cborder-secondary,5%);
}

.btn-secondary.disabled, .btn-secondary[disabled], fieldset[disabled] .btn-secondary, .btn-secondary.disabled:hover, .btn-secondary[disabled]:hover, fieldset[disabled] .btn-secondary:hover, .btn-secondary.disabled:focus, .btn-secondary[disabled]:focus, fieldset[disabled] .btn-secondary:focus, .btn-secondary.disabled:active, .btn-secondary[disabled]:active, fieldset[disabled] .btn-secondary:active, .btn-secondary.disabled.active, .btn-secondary[disabled].active, fieldset[disabled] .btn-secondary.active, .bootstrap-select .btn-secondary.disabled {
  color:            lighten($ctext-secondary,5%);
  background-color: lighten($cmain-secondary,5%);
  border-color:     lighten($cborder-secondary,5%);
}

.btn-secondary .caret { border-top-color: $ctext-secondary; }


//  tertiary
// ===============

.btn-tertiary {
  color: $ctext-tertiary;
  background-color: $cmain-tertiary;
  border-color:$cborder-tertiary;
}

.btn-tertiary:active:hover, .btn-tertiary.active:hover,
.open > .dropdown-toggle.btn-tertiary:hover,
.btn-tertiary:active:focus, .btn-tertiary.active:focus,
.open > .dropdown-toggle.btn-tertiary:focus,
.btn-tertiary:active.focus, .btn-tertiary.active.focus,
.open > .dropdown-toggle.btn-tertiary.focus,
.btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active, .btn-tertiary.active, .open .dropdown-toggle.btn-tertiary {
  color:            darken($ctext-tertiary,5%);
  background-color: darken($cmain-tertiary,5%);
  border-color:     darken($cborder-tertiary,5%);
}

.btn-tertiary.disabled, .btn-tertiary[disabled], fieldset[disabled] .btn-tertiary, .btn-tertiary.disabled:hover, .btn-tertiary[disabled]:hover, fieldset[disabled] .btn-tertiary:hover, .btn-tertiary.disabled:focus, .btn-tertiary[disabled]:focus, fieldset[disabled] .btn-tertiary:focus, .btn-tertiary.disabled:active, .btn-tertiary[disabled]:active, fieldset[disabled] .btn-tertiary:active, .btn-tertiary.disabled.active, .btn-tertiary[disabled].active, fieldset[disabled] .btn-tertiary.active, .bootstrap-select .btn-tertiary.disabled {
  color:            lighten($ctext-tertiary,5%);
  background-color: lighten($cmain-tertiary,5%);
  border-color:     lighten($cborder-tertiary,5%);
}

.btn-tertiary .caret { border-top-color: $ctext-tertiary; }


//  info
// ===============

.btn-info {
  color: $ctext-info;
  background-color: $cmain-info;
  border-color:$cborder-info;
}

.btn-info:active:hover, .btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus, .btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus, .btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus,
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  color:            darken($ctext-info,5%);
  background-color: darken($cmain-info,5%);
  border-color:     darken($cborder-info,5%);
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active, .bootstrap-select .btn-info.disabled {
  color:            lighten($ctext-info,5%);
  background-color: lighten($cmain-info,5%);
  border-color:     lighten($cborder-info,5%);
}

.btn-info .caret { border-top-color: $ctext-info; }


//  success
// ===============

.btn-success {
  color: $ctext-success;
  background-color: $cmain-success;
  border-color:$cborder-success;
}

.btn-success:active:hover, .btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus, .btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus, .btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus,
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  color:            darken($ctext-success,5%);
  background-color: darken($cmain-success,5%);
  border-color:     darken($cborder-success,5%);
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active, .bootstrap-select .btn-success.disabled {
  color:            lighten($ctext-success,5%);
  background-color: lighten($cmain-success,5%);
  border-color:     lighten($cborder-success,5%);
}

.btn-success .caret { border-top-color: $ctext-success; }


//  warning
// ===============

.btn-warning {
  color: $ctext-warning;
  background-color: $cmain-warning;
  border-color:$cborder-warning;
}

.btn-warning:active:hover, .btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus, .btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus, .btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus,
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  color:            darken($ctext-warning,5%);
  background-color: darken($cmain-warning,5%);
  border-color:     darken($cborder-warning,5%);
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active, .bootstrap-select .btn-warning.disabled {
  color:            lighten($ctext-warning,5%);
  background-color: lighten($cmain-warning,5%);
  border-color:     lighten($cborder-warning,5%);
}

.btn-warning .caret { border-top-color: $ctext-warning; }


//  danger
// ===============

.btn-danger {
  color: $ctext-danger;
  background-color: $cmain-danger;
  border-color:$cborder-danger;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  color:            darken($ctext-danger,5%);
  background-color: darken($cmain-danger,8%);
  border-color:     darken($cborder-danger,8%);
}

.btn-danger:active:hover, .btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus, .btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus, .btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus,
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active, .bootstrap-select .btn-danger.disabled {
  color:            lighten($ctext-danger,5%);
  background-color: lighten($cmain-danger,5%);
  border-color:     lighten($cborder-danger,5%);
}

.btn-danger .caret { border-top-color: $ctext-danger; }



//  Link button
// ==============================================================

.btn-link                         { color: $clink; }
.btn-link:hover, .btn-link:focus  { color: darken($clink,10%); text-decoration:none; }

.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus { color: lighten($ctext,10%); }


//  Ripple effect (on click)
// ==============================================================

.btn, .list-group-item {
  overflow:hidden; position: relative; box-sizing: border-box;
  transform: translate3d(0, 0, 0); user-select: none;
}

.ripple-effect {
  position: absolute; border-radius: 50%; background-color: rgba(255,255,255,0.25);
  user-select: none; pointer-events: none; padding: 0; margin: 0; opacity: 0.75;
  transform: translate3d(-50%,-50%,0);
 }
