
//  Variables
// ==============================================================

  $cprimary:          hsl(170, 45%, 50%);
  $csecondary:        hsl(257, 32%, 54%);
  $ctertiary:         hsl(211, 15%, 40%);

  $csuccess:          hsl(90, 45%, 48%);
  $cinfo:             hsl(200, 69%, 70%);
  $cwarning:          hsl(35, 100%, 50%);
  $cdanger:           hsl(0, 60%, 55%);

  $ctext:             #666;
  $ctitle:            darken($ctertiary,10%);
  $clink:             #359794;
  $clabel:            darken($ctext,15%);

  $cborder:           #eaeaea;
  $cbgmain:           #f9f9f9;
  $chover:            darken($cbgmain,2%);
  $cnav:              #fff;

  $default-shadow:    none; // 0 1px 1px rgba(0, 0, 0, 0.1);


//  Button, Alerts, Progress bar colors
// ==============================================================

  $ctext-default:         $clink;
  $cmain-default:         $cbgmain;
  $cborder-default:       $cborder;

  $ctext-white:           $clink;
  $cmain-white:           #ffffff;
  $cborder-white:         $cborder;

  $ctext-primary:         #ffffff;
  $cmain-primary:         $cprimary;
  $cborder-primary:       darken($cprimary,2%);

  $ctext-secondary:       #ffffff;
  $cmain-secondary:       $csecondary;
  $cborder-secondary:     darken($csecondary,2%);

  $ctext-tertiary:        #ffffff;
  $cmain-tertiary:        $ctertiary;
  $cborder-tertiary:      darken($ctertiary,2%);

  $ctext-info:            #ffffff;
  $cmain-info:            $cinfo;
  $cborder-info:          darken($cinfo,2%);

  $ctext-success:         #ffffff;
  $cmain-success:         $csuccess;
  $cborder-success:       darken($csuccess,2%);

  $ctext-warning:         #ffffff;
  $cmain-warning:         $cwarning;
  $cborder-warning:       darken($cwarning,2%);

  $ctext-danger:          #ffffff;
  $cmain-danger:          $cdanger;
  $cborder-danger:        darken($cdanger,2%);
