
//  Common
// ==============================================================

code { color: darken($csecondary,10%); background-color: lighten($csecondary,37%); }


//  Flags
// ==============================================================

.flag-xs { vertical-align: top; height:16px; }
.flag-sm { vertical-align: top; height:20px; }
.flag-md { vertical-align: top; height:22px; }
.flag-lg { vertical-align: top; height:25px; }
.flag-xl { vertical-align: top; height:30px; }


//  Loading Animation
// ==============================================================

  $loader_c1:     $cbgmain;
  $loader_c2:     $cinfo;
  $loader_c3:     $cbgmain;
  $loader_c4:     $cwarning;

  $loader-stroke-sm:  0.5em;
  $loader-stroke-md:  0.75em;
  $loader-stroke-lg:  1em;

  $loader-size-sm:    2.5em;
  $loader-size-md:    5em;
  $loader-size-lg:    7.5em;

  .loading-animation {
    position: relative;
    margin: 0;
    font-size: 10px; text-indent: -9999em;
    border-top: $loader-stroke-md solid $loader_c1;
    border-right: $loader-stroke-md solid $loader_c2;
    border-bottom: $loader-stroke-md solid $loader_c3;
    border-left: $loader-stroke-md solid $loader_c4;

    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    overflow: hidden;

    }

  .loading-animation,
  .loading-animation:after { border-radius: 50%; width: $loader-size-md; height: $loader-size-md; }
  @-webkit-keyframes load8 {
      0%    { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
      100%  { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }

  @keyframes load8 {
      0%    { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
      100%  { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }


  // Loading SM
  .loading-animation-sm {
    border-top: $loader-stroke-sm solid $loader_c1;
    border-right: $loader-stroke-sm solid $loader_c2;
    border-bottom: $loader-stroke-sm solid $loader_c3;
    border-left: $loader-stroke-sm solid $loader_c4;
  }
  .loading-animation-sm,
  .loading-animation-sm:after { width: $loader-size-sm; height: $loader-size-sm; }

  // Loading LG
  .loading-animation-lg {
    border-top: $loader-stroke-lg solid $loader_c1;
    border-right: $loader-stroke-lg solid $loader_c2;
    border-bottom: $loader-stroke-lg solid $loader_c3;
    border-left: $loader-stroke-lg solid $loader_c4;
  }
  .loading-animation-lg,
  .loading-animation-lg:after { width: $loader-size-lg; height: $loader-size-lg; }

  .loading-animation-container { position:fixed; top:50px; right:20px; width:auto; height:auto; z-index:9999; }

  .loading-animation-center { margin-left: auto; margin-right:auto; }


//  Tooltips
// ==============================================================

$tooltip-border : darken($cborder,10%);

.tooltip.in     { filter: alpha(opacity=100); opacity: 1; }
.tooltip-inner  {
  font-size: 11px;
  max-width: 350px;
  padding: 7px 12px 6px;
  color: $ctext;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  border:1px solid $tooltip-border;
}

.tooltip.top .tooltip-arrow           { border-top-color: $tooltip-border; }
.tooltip.top-left .tooltip-arrow      { border-top-color: $tooltip-border;}
.tooltip.top-right .tooltip-arrow     { border-top-color: $tooltip-border; }
.tooltip.right .tooltip-arrow         { border-right-color: $tooltip-border;}
.tooltip.left .tooltip-arrow          { border-left-color: $tooltip-border;}
.tooltip.bottom .tooltip-arrow        { border-bottom-color: $tooltip-border; }
.tooltip.bottom-left .tooltip-arrow   { border-bottom-color: $tooltip-border;}
.tooltip.bottom-right .tooltip-arrow  { border-bottom-color: $tooltip-border;}


//  Ellipsis
// ==============================================================
// From http://jsfiddle.net/chadkuehn/nu5zk/

.ellipsis { overflow: hidden; white-space:nowrap; text-overflow:ellipsis; }

    @media only screen and (min-width: 991px) {
      .s1-field_status-table .ellipsis { width:79px; }
      .s1-field_ratios-table .ellipsis { width:350px; }
    }
    @media only screen and (min-width: 1200px) {
      .s1-field_status-table .ellipsis { width:279px; }
      .s1-field_ratios-table .ellipsis { width:550px; }
    }


//  Dragula (Dragg&Drop)
// ==============================================================

  .drag-handler, .gu-mirror {
      cursor: move; /* fallback: no `url()` support or images disabled */
      cursor: url(../img/cursor/grab.cur); /* fallback: Internet Explorer */
      cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
      cursor:    -moz-grab; /* Firefox 1.5-26 */
      cursor:         grab; /* W3C standards syntax, should come least */
  }

  .drag-handler:active {
      cursor: url(../img/cursor/grabbing.cur);
      cursor: -webkit-grabbing;
      cursor:    -moz-grabbing;
      cursor:         grabbing;
  }

  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    background-color: lighten($cinfo, 40%) !important;
    border: 2px solid lighten($cinfo, 25%) !important;
    cursor: -webkit-grabbing  !important; cursor:-moz-grabbing !important;
  }
