
//  Nav
// ==============================================================

.navbar               { background: $cnav; min-height: 36px; border-bottom: 1px solid $cborder; }
.navbar .brand img    { position:absolute; padding:7px 5px; left:0; right:0; margin-left: auto; margin-right: auto;  }
.navbar .nav-text     { padding: 8px 10px; }

.navbar .user-avatar  { position:absolute; top:6px; left:-20px; height:25px; }
.navbar .badge        { padding:3px 5px; }


//  Nav objects
// ==============================================================

.nav > li > a:hover,
.nav > li > a:focus           { text-decoration: none; background-color: $chover; }
.nav > li > a:hover {
  vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; overflow: hidden;
  -webkit-transition-property: color, background-color; transition-property: color, background-color;
  -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }

.nav > li.disabled > a        { color: lighten($clink,5%); }
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus  { color: lighten($clink,5%); }
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus          { background-color: $chover; border-color: $cborder; }


//  Nav-Pills
// ==============================================================

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus { color: #fff; background-color: $cprimary; }

.nav-pills-nobg > li.active > a,
.nav-pills-nobg > li.active > a:hover,
.nav-pills-nobg > li.active > a:focus { color: $csecondary; background-color: transparent; }

.nav-pills-xs > li > a { font-size: $font-size-xs; padding: 6px 6px 4px; }
.nav-pills-sm > li > a { font-size: $font-size-sm; padding: 8px 8px 8px; }
.nav-pills-md > li > a { font-size: $font-size-md; padding: 10px 12px; }
.nav-pills-lg > li > a { font-size: $font-size-lg; padding: 12px 14px; }
.nav-pills-xl > li > a { font-size: $font-size-xl; padding: 14px 16px; }

.nav-pills-padding-xs > li > a { padding-left: 5px; padding-right:5px; }
.nav-pills-padding-sm > li > a { padding-left: 10px; padding-right:10px; }
.nav-pills-padding-md > li > a { padding-left: 15px; padding-right:15px; }
.nav-pills-padding-lg > li > a { padding-left: 25px; padding-right:25px; }
.nav-pills-padding-xl > li > a { padding-left: 35px; padding-right:35px; }

//  Nav-Tabs
// ==============================================================

.nav-tabs                 { border-bottom: 1px solid $cborder; }
.nav-tabs > li > a        { border-radius: 2px 2px 0 0; }
.nav-tabs > li > a:hover  { border-color: $chover $chover $cborder; }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus { color: $csecondary; background-color: #fff; border: 1px solid $cborder; border-bottom-color: transparent; }


.nav-tabs-xs > li > a { font-size: $font-size-xs; padding: 6px 6px 4px; }
.nav-tabs-sm > li > a { font-size: $font-size-sm; padding: 8px 8px 6px; }
.nav-tabs-md > li > a { font-size: $font-size-md; padding: 10px 12px; }
.nav-tabs-lg > li > a { font-size: $font-size-lg; padding: 12px 14px; }
.nav-tabs-xl > li > a { font-size: $font-size-xl; padding: 14px 16px; }


.nav-tabs-padding-xs > li > a { padding-left: 5px; padding-right:5px; }
.nav-tabs-padding-sm > li > a { padding-left: 10px; padding-right:10px; }
.nav-tabs-padding-md > li > a { padding-left: 15px; padding-right:15px; }
.nav-tabs-padding-lg > li > a { padding-left: 25px; padding-right:25px; }
.nav-tabs-padding-xl > li > a { padding-left: 35px; padding-right:35px; }


//  Dropdown-menu
// ==============================================================

.dropdown-menu {
  border: 1px solid darken($cborder,5%);
  border-radius: 2px;
  padding: 3px 0;
}

.dropdown-menu > li > a { color: $ctext; }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus { color: darken($ctext,5%); background-color: $chover; }
.dropdown-menu > li > a:hover {
  vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; overflow: hidden;
  -webkit-transition-property: color, background-color; transition-property: color, background-color;
  -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus { color: #fff; background-color: $cprimary; }


.dropdown-header { color: lighten($ctext,20%); }

.dropdown-menu .divider {
  margin: 4px 0;
  background-color: $cborder;
}


//  List Groups
// ==============================================================

a.list-group-item, button.list-group-item {
  color: $clink;
}
a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  color: $clink;
}
a.list-group-item:hover, button.list-group-item:hover {
  color: $clink; background-color: $cbgmain; border-color: $cborder;
}

a.list-group-item:focus, button.list-group-item:focus {
  color: #fff; background-color: $cprimary; border-color: darken($cprimary,2%);
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  color: $csecondary; border-color: $cborder; background-color:$cbgmain;
}

a.list-group-item .pull-right.fa-caret-down { margin-top:3px; }
.list-group-item > .badge                   { float: none; }

.list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.list-group-item { border: 1px solid $cborder; }

// Sub menus

  .sub-group                { margin-bottom:5px; }

  .list-group-item.sub-item { padding-left:36px; }

  .list-group-item.sub-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

.list-group-item.sub-item.active, .list-group-item.sub-item.active:hover, .list-group-item.sub-item.active:focus {
  color: $csecondary; border-color: $cborder; background-color:$cbgmain;
}


//  Slidebars
// ==============================================================

.sb-slidebar.sb-right { z-index:999; }
.sb-slidebar  { background-color: $cnav; }
.sb-left      { border-right:1px solid $cborder; }
.sb-right     { border-left:1px solid $cborder; }



//  Modals
// ==============================================================

.modal-content {

  padding:25px;
  border: 1px solid $cborder;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .25);
}
.modal-header { padding:0; margin-bottom:15px; border-bottom: none; }
.modal-body   { padding:0; }
.modal-footer { padding:0; margin-top:20px; border-top: none; text-align: left; }



//  Pagination
// ==============================================================

.pagination { margin:0; border-radius: 2px; }
.pagination > li > a,
.pagination > li > span { padding: 6px 12px; color: $clink; border: 1px solid $cborder; }

.pagination > li:first-child > a,
.pagination > li:first-child > span { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.pagination > li:last-child > a,
.pagination > li:last-child > span { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus { color: darken($clink,10%); background-color: $cbgmain; border-color: $cborder; }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus { color: #fff; background-color: $cprimary; border-color: $cborder-primary; }
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus { color: lighten($ctext,15%); background: $cbgmain; border-color: $cborder; }

.pagination-lg > li > a,
.pagination-lg > li > span { padding: 10px 16px; font-size: $font-size-lg; }
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span { border-top-left-radius: 2px; border-bottom-left-radius: 2x; }
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.pagination-sm > li > a,
.pagination-sm > li > span { padding: 5px 10px; font-size: $font-size-xs; }
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
