
//  Panels & Backgrounds
// ==============================================================

  .panel          { margin:0 0 5px 0; padding:15px; @include border-radius(0); background:transparent; border:1px solid transparent; box-shadow:none;}
  .panel-default  { @include border-radius(2px); background:#FFFFFF; border:1px solid $cborder; @include box-shadow ($default-shadow); }
    
  .panel-header   { padding:15px 15px 15px 15px; margin:-15px -15px 15px -15px; background:none; border-bottom:1px solid $cborder; } // panel-header
  .panel-footer   { padding:8px 15px; margin:15px -15px -15px -15px; border-top:1px solid $cborder; background:none; }
     
  .box-shadow     { @include box-shadow(0 2px 10px rgba(0,0,0,0.1));}
  
//  Backgrounds
// ==============================================================

  .panel-white          { background: #fff; }   
  .panel-gray           { background-color:#f5f5f5;
    .panel-header       { border-bottom: 1px solid darken(#f5f5f5,5%); }
    .panel-footer       { border-top: 1px solid darken(#f5f5f5,5%); }
  }
  .panel-primary        { background-color:$cprimary;
    .panel-header       { border-bottom: 1px solid lighten($cprimary,10%); }
    .panel-footer       { border-top: 1px solid lighten($cprimary,10%); }
  }
  .panel-secondary      { background-color:$csecondary;
    .panel-header       { border-bottom: 1px solid lighten($csecondary,10%); }
    .panel-footer       { border-top: 1px solid lighten($csecondary,10%); }
  }  
  .panel-tertiary       { background-color:$ctertiary; 
    .panel-header       { border-bottom: 1px solid lighten($ctertiary,10%); }
    .panel-footer       { border-top: 1px solid lighten($ctertiary,10%); }
  }  
  .panel-success        { background-color:$csuccess; 
    .panel-header       { border-bottom: 1px solid lighten($csuccess,10%); }
    .panel-footer       { border-top: 1px solid lighten($csuccess,10%); }
  }  
  .panel-info           { background-color:$cinfo;
    .panel-header       { border-bottom: 1px solid lighten($cinfo,10%); }
    .panel-footer       { border-top: 1px solid lighten($cinfo,10%); }
  }  
  .panel-warning        { background-color:$cwarning;
    .panel-header       { border-bottom: 1px solid lighten($cwarning,10%); }
    .panel-footer       { border-top: 1px solid lighten($cwarning,10%); }
  }  
  .panel-danger         { background-color:$cdanger;
    .panel-header       { border-bottom: 1px solid lighten($cdanger,10%); }
    .panel-footer       { border-top: 1px solid lighten($cdanger,10%); }
  }    
  
  .panel-primary, .panel-secondary, .panel-tertiary, 
  .panel-info, .panel-success, .panel-warning, .panel-danger { color:#fff;
    a, b, strong  { color:#fff; }
  }
  
  $panel-top-width: 10px;
  .panel-top-default   { border-top:$panel-top-width solid $cborder; }
  .panel-top-primary   { border-top:$panel-top-width solid $cprimary; }
  .panel-top-secondary { border-top:$panel-top-width solid $csecondary; }
  .panel-top-tertiary  { border-top:$panel-top-width solid $ctertiary; }
  .panel-top-info      { border-top:$panel-top-width solid $cinfo; }
  .panel-top-success   { border-top:$panel-top-width solid $csuccess; }
  .panel-top-warning   { border-top:$panel-top-width solid $cwarning; }
  .panel-top-danger    { border-top:$panel-top-width solid $cdanger; }

  $panel-right-width: 10px;
  .panel-right-default   { border-right:$panel-right-width solid $cborder; }
  .panel-right-primary   { border-right:$panel-right-width solid $cprimary; }
  .panel-right-secondary { border-right:$panel-right-width solid $csecondary; }
  .panel-right-tertiary  { border-right:$panel-right-width solid $ctertiary; }
  .panel-right-info      { border-right:$panel-right-width solid $cinfo; }
  .panel-right-success   { border-right:$panel-right-width solid $csuccess; }
  .panel-right-warning   { border-right:$panel-right-width solid $cwarning; }
  .panel-right-danger    { border-right:$panel-right-width solid $cdanger; }

  $panel-bottom-width: 10px;
  .panel-bottom-default   { border-bottom:$panel-bottom-width solid $cborder; }
  .panel-bottom-primary   { border-bottom:$panel-bottom-width solid $cprimary; }
  .panel-bottom-secondary { border-bottom:$panel-bottom-width solid $csecondary; }
  .panel-bottom-tertiary  { border-bottom:$panel-bottom-width solid $ctertiary; }
  .panel-bottom-info      { border-bottom:$panel-bottom-width solid $cinfo; }
  .panel-bottom-success   { border-bottom:$panel-bottom-width solid $csuccess; }
  .panel-bottom-warning   { border-bottom:$panel-bottom-width solid $cwarning; }
  .panel-bottom-danger    { border-bottom:$panel-bottom-width solid $cdanger; }  
  
  $panel-left-width: 10px;
  .panel-left-default   { border-left:$panel-left-width solid $cborder; }
  .panel-left-primary   { border-left:$panel-left-width solid $cprimary; }
  .panel-left-secondary { border-left:$panel-left-width solid $csecondary; }
  .panel-left-tertiary  { border-left:$panel-left-width solid $ctertiary; }
  .panel-left-info      { border-left:$panel-left-width solid $cinfo; }
  .panel-left-success   { border-left:$panel-left-width solid $csuccess; }
  .panel-left-warning   { border-left:$panel-left-width solid $cwarning; }
  .panel-left-danger    { border-left:$panel-left-width solid $cdanger; }


  .background-white      { background-color:#fff; }
  .background-default    { background-color:$cbgmain; }
  .background-primary    { background-color:$cprimary; }
  .background-secondary  { background-color:$csecondary; }
  .background-tertiary   { background-color:$ctertiary; }
  .background-success    { background-color:$csuccess; }
  .background-info       { background-color:$cinfo; }
  .background-warning    { background-color:$cwarning; }
  .background-danger     { background-color:$cdanger; }

  .pattern-default      { background-color:$cbgmain;     background: url(../img/patterns/shattered/shattered-default.jpg) repeat; }
  .pattern-primary      { background-color:$cprimary;    background: url(../img/patterns/shattered/shattered-primary.jpg) repeat; }
  .pattern-secondary    { background-color:$csecondary;  background: url(../img/patterns/shattered/shattered-secondary.jpg) repeat; }
  .pattern-tertiary     { background-color:$ctertiary;   background: url(../img/patterns/shattered/shattered-tertiary.jpg) repeat; }
  .pattern-success      { background-color:$csuccess;    background: url(../img/patterns/shattered/shattered-success.jpg) repeat; }
  .pattern-info         { background-color:$cinfo;       background: url(../img/patterns/shattered/shattered-info.jpg) repeat; }
  .pattern-warning      { background-color:$cwarning;    background: url(../img/patterns/shattered/shattered-warning.jpg) repeat; }
  .pattern-danger       { background-color:$cdanger;     background: url(../img/patterns/shattered/shattered-danger.jpg) repeat; }


//  Packery (Drag & Drop)
// ==============================================================
.packery-drop-placeholder {

  outline: 2px dashed $cborder;  
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
  
