
//  Labels
// ==============================================================

.label              { font-size: $font-size-xs; font-weight: bold; vertical-align:middle; padding: 4px 10px }
.label-float        { float:left; margin-bottom:1px; }
.label-btn          { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px;
                      text-align: center; white-space: nowrap;
                      vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation;
                      cursor: auto; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
                      background-image: none;
                      font-weight: $default-weight; border: 1px solid $cborder; @include border-radius(2px);
                     }

.label-xs, .label-group-xs > .label { font-size: $font-size-xs; padding: 2px 8px; }
.label-sm, .label-group-sm > .label { font-size: $font-size-sm; padding: 4px 10px; }
.label-md, .label-group-md > .label { font-size: 15px; padding: 6px 14px; }
.label-lg, .label-group-lg > .label { font-size: $font-size-lg; padding: 8px 16px; }
.label-xl, .label-group-xl > .label { font-size: $font-size-xl; padding: 10px 18px; }

.label-padding-xs { padding-left: 5px; padding-right:5px; }
.label-padding-sm { padding-left: 10px; padding-right:10px; }
.label-padding-md { padding-left: 15px; padding-right:15px; }
.label-padding-lg { padding-left: 25px; padding-right:25px; }
.label-padding-xl { padding-left: 35px; padding-right:35px; }

.label-default    { color:$ctext; background-color: #f9f9f9; border-color: $cborder-default; }
.label-disabled   { color: lighten($ctext,40%); background-color: $cmain-default; border-color: $cborder-default; }
.label-primary    { color: $ctext-primary; background-color: $cmain-primary; border-color: $cborder-primary; }
.label-secondary  { color: $ctext-secondary; background-color: $cmain-secondary; border-color: $cborder-secondary; }
.label-tertiary   { color: $ctext-tertiary; background-color: $cmain-tertiary; border-color: $cborder-tertiary; }
.label-info       { color: $ctext-info; background-color: $cmain-info; border-color: $cborder-info; }
.label-success    { color: $ctext-success; background-color: $cmain-success; border-color: $cborder-success; }
.label-warning    { color: $ctext-warning; background-color: $cmain-warning; border-color: $cborder-warning; }
.label-danger     { color: $ctext-danger; background-color: $cmain-danger; border-color: $cborder-danger; }




//  Badges
// ==============================================================

.badge          { padding: 4px 5px; font-size:inherit; font-weight: bold; color: lighten($ctext,15%); background-color: darken($cmain-default,2%); border-radius: 2px; }
.badge-default  { color: $ctext; background-color: #e6e6e6; }
.badge-primary  { color: #FFF; background-color: $cprimary; }

.list-group-item.active > .badge, .nav-pills > .active > a > .badge, .list-group-item.active > .badge-default, .nav-pills > .active > a > .badge-default, .list-group-item.active > .badge-primary,   .nav-pills > .active > a > .badge-primary {
    color:lighten($ctext,15%); background-color: #fff; }

.list-group-item.active > .badge-secondary, .nav-pills > .active > a > .badge-secondary,  .badge-secondary  { color: #FFF; background-color: $csecondary; }
.list-group-item.active > .badge-tertiary,  .nav-pills > .active > a > .badge-tertiary,   .badge-tertiary   { color: #FFF; background-color: $ctertiary; }
.list-group-item.active > .badge-info,      .nav-pills > .active > a > .badge-info,       .badge-info       { color: #FFF; background-color: $cinfo; }
.list-group-item.active > .badge-success,   .nav-pills > .active > a > .badge-success,    .badge-success    { color: #FFF; background-color: $csuccess; }
.list-group-item.active > .badge-warning,   .nav-pills > .active > a > .badge-warning,    .badge-warning    { color: #FFF; background-color: $cwarning; }
.list-group-item.active > .badge-danger,    .nav-pills > .active > a > .badge-danger,     .badge-danger     { color: #FFF; background-color: $cdanger; }


//  Alerts
// ==============================================================

.alert                      { padding: 9px 10px 8px; margin:5px 0; border-radius:2px; }

.alert-sm                   { padding: 7px 10px 5px; }
.alert-md                   { padding: 9px 10px 8px; }
.alert-lg                   { padding: 18px 15px 15px; }

.alert-default              { color: $ctext; background-color: $cbgmain; border-color: $cborder; }
.alert-default hr           { border-top-color: $cborder; }

.alert-primary              { color: darken($cprimary,15%); background-color: lighten($cprimary,40%); border-color: lighten($cprimary,35%); }
.alert-primary hr           { border-top-color: lighten($cprimary,35%); }
.alert-primary a            { color: darken($cprimary,10%); text-decoration: underline; }
.alert-primary strong       { color: darken($cprimary,20%); }

.alert-secondary            { color: darken($csecondary,10%); background-color: lighten($csecondary,35%); border-color: lighten($csecondary,30%); }
.alert-secondary hr         { border-top-color: lighten($csecondary,35%); }
.alert-secondary a          { color: darken($csecondary,10%); text-decoration: underline; }
.alert-secondary strong     { color: darken($csecondary,20%); }

.alert-info                 { color: darken($cinfo,15%); background-color: lighten($cinfo,35%); border-color: lighten($cinfo,30%); }
.alert-info hr              { border-top-color: lighten($cinfo,35%); }
.alert-info a               { color: darken($cinfo,10%); text-decoration: underline; }
.alert-info strong          { color: darken($cinfo,20%); }

.alert-success              { color: darken($csuccess,15%); background-color: lighten($csuccess,45%); border-color: lighten($csuccess,40%); }
.alert-success hr           { border-top-color: lighten($csuccess,35%); }
.alert-success a            { color: darken($csuccess,10%); text-decoration: underline; }
.alert-success strong       { color: darken($csuccess,20%); }


.alert-warning              { color: darken($cwarning,15%); background-color: lighten($cwarning,37%); border-color: lighten($cwarning,32%); }
.alert-warning hr           { border-top-color: lighten($cwarning,35%); }
.alert-warning a            { color: darken($cwarning,10%); text-decoration: underline; }
.alert-warning strong       { color: darken($cwarning,20%); }

.alert-danger               { color: darken($cdanger,10%); background-color: lighten($cdanger,35%); border-color: lighten($cdanger,30%); }
.alert-danger hr            { border-top-color: lighten($cdanger,35%); }
.alert-danger a             { color: darken($cdanger,10%); text-decoration: underline; }
.alert-danger strong        { color: darken($cdanger,20%); }

.alert-dismissable .close,
.alert-dismissible .close   { right: 0; }

//  Progress bar
// ==============================================================

.progress               { height:3px; box-shadow:none; background-color: $cborder; border-radius: 0px; }
.progress-bar           { box-shadow:none; background-color: lighten($ctext,25%); }
.progress-bar-primary   { background-color: $cprimary; }
.progress-bar-secondary { background-color: $csecondary; }
.progress-bar-tertiary  { background-color: $ctertiary; }
.progress-bar-success   { background-color: $csuccess; }
.progress-bar-info      { background-color: $cinfo; }
.progress-bar-warning   { background-color: $cwarning; }
.progress-bar-danger    { background-color: $cdanger; }
