
//  Tables
// ==============================================================

  .table            { margin-bottom: 5px; }

  .td-min-width     { width:1%; white-space: nowrap; }

  .table-responsive { border: none; margin-bottom: 5px; }
    @media screen and (max-width: 767px) {
      .table-responsive { border: none;}
    }

  .thead-spacing::before {
  // Adds spacing before a <thead>
        content: '';
        display: table-row;
        height: 20px;
  }

    .thead-spacing:first-child::before {
    // but not for the first element
          content: '';
          display: table-row;
          height: 0px;
    }



  .table > thead > tr > th,
  .table > thead > tr > td { font-weight: 700; border-bottom: 1px solid darken($cborder, 10%); }

  .table > tbody > tr > th,
  .table > tbody > tr > td { border-top: 1px solid $cborder; }

  .table > tfoot > tr > th,
  .table > tfoot > tr > td { border-top: 1px solid darken($cborder, 10%); }

  .table-striped > tbody > tr:nth-of-type(odd) { background-color: $cbgmain; }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 6px 8px;
    border-top: 1px solid $cborder;
  }

  .table-condensed > thead > tr > th,
  .table-condensed > tbody > tr > th,
  .table-condensed > tfoot > tr > th,
  .table-condensed > thead > tr > td,
  .table-condensed > tbody > tr > td,
  .table-condensed > tfoot > tr > td {
    padding: 3px 8px;
  }

  .table-hover > tbody > tr:hover { background-color: darken($cbgmain, 2%); }

  .table-bordered { border: none; }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid $cborder;
  }

  table.table-bordered > caption + thead > tr:first-child > th,
  table.table-bordered > colgroup + thead > tr:first-child > th,
  table.table-bordered > thead:first-child > tr:first-child > th,
  table.table-bordered > caption + thead > tr:first-child > td,
  table.table-bordered > colgroup + thead > tr:first-child > td,
  table.table-bordered > thead:first-child > tr:first-child > td {
    border-top: 1px solid $cborder;
  }

  .table > tbody + tbody { border-top: 1px solid $cborder; }

  // Removing table borders
  .table-no-border > thead > tr > th,
  .table-no-border > thead > tr > td { border-bottom: none; }
  .table-no-border > tbody > tr > th,
  .table-no-border > tbody > tr > td { border-top: none; }
  .table-no-border > tfoot > tr > th,
  .table-no-border > tfoot > tr > td { border-top: none; }

  .table.table-no-background, .no-background { background:none !important; }

/*
 * Convert tables to mobile friendly format
 * Example from
 * http://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table
 *
 */

  @media only screen and (max-width: 991px) {

      /* Force table to not be like tables anymore */
    #convert-table table,
    #convert-table thead,
    #convert-table tbody,
    #convert-table th,
    #convert-table td,
    #convert-table tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #convert-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    #convert-table tr { padding:10px 15px; margin-bottom:5px; border:1px solid $cborder; }

    #convert-table td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid $cborder;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align:left;
    }

    #convert-table td:last-child{ border-bottom:none; }

    #convert-table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align:left;
      font-weight: bold;
    }

    /* Label the data */
    #convert-table td:before { content: attr(data-title); }
  }
