
//  Fonts & Paths
// ==============================================================

  //$fontmain: "Helvetica Neue",Helvetica,Arial,sans-serif;
  $fontmain: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", Arial, sans-serif;

//  Sizes & Weight
// ==============================================================

  $default-size   : 14px;
  $default-weight : 400;

  $font-size-xxs  : $default-size - 4;
  $font-size-xs   : $default-size - 2;
  $font-size-sm   : $default-size;
  $font-size-md   : $default-size + 2;
  $font-size-lg   : $default-size + 4;
  $font-size-xl   : $default-size + 6;

  .font-size-xxs  { font-size: $font-size-xxs !important; }
  .font-size-xs   { font-size: $font-size-xs !important; }
  .font-size-sm   { font-size: $font-size-sm !important; }
  .font-size-md   { font-size: $font-size-md !important; }
  .font-size-lg   { font-size: $font-size-lg !important; }
  .font-size-xl   { font-size: $font-size-xl !important; }

  // Font weight
  .font-weight-light  { font-weight: 300 !important; }
  .font-weight-normal { font-weight: $default-weight !important; }
  .font-weight-bold   { font-weight: 700 !important; }

//  Typography
// ==============================================================

  html, body, .btn, .label { font-size: $font-size-sm; font-family: $fontmain; font-weight:$default-weight; }
  html, body { color: $ctext; }

  h1, h2, h3, h4, h5, h6 { color:$ctitle; }

  h1  { font-size: $default-size + 18;  font-family: $fontmain; font-weight: $default-weight; line-height:1.3; }
  h2  { font-size: $default-size + 12;  font-family: $fontmain; font-weight: $default-weight; line-height:1.3; }
  h3  { font-size: $default-size + 8;   font-family: $fontmain; font-weight: $default-weight; line-height:1.3; }
  h4  { font-size: $default-size + 4;   font-family: $fontmain; font-weight: $default-weight; line-height:1.3; }
  h5  { font-size: $default-size + 2;   font-family: $fontmain; font-weight: $default-weight; line-height:1.3; }
  h6  { font-size: $default-size;       font-family: $fontmain; font-weight: $default-weight; line-height:1.3; }

  h1,h2,h3          { margin:10px 0 5px 0;}
  h4, h5, h6        { margin:8px 0 7px 0;}

  a                 { color: $clink; }
  a:hover, a:focus  { color: darken($clink,10%); text-decoration:none; }
  a .caret          { border-top: 4px solid $clink; }

  .break-word       { overflow-wrap: break-word; word-wrap: break-word; }
  .nowrap           { white-space: nowrap; }

  strong, th        { font-weight:400; color:$clabel; }

  .line-height-xxs  { line-height:100%; }
  .line-height-xs   { line-height:125%; }
  .line-height-sm   { line-height:150%; }
  .line-height-md   { line-height:175%; }
  .line-height-lg   { line-height:200%; }
  .line-height-xl   { line-height:225%; }
  .line-height-xxl  { line-height:250%; }

//  Color & Intensity
// ==============================================================

  .text-default   { color: $ctext; }
  .text-ultralight{ color: lighten($ctext,25%); }
  .text-light     { color: lighten($ctext,15%); }
  .text-dark      { color: darken($ctext,15%); }

  .text-white     { color: #fff; }

        .text-white a        { color:#fff; font-weight:700; }
        .text-white a:hover,
        .text-white a:focus  { color:lighten($clink,40%); text-decoration:none; }
        .text-white a .caret { border-top: 4px solid lighten($clink,50%); }

  .text-primary   { color: $clink !important; }
  .text-secondary { color: $csecondary; }
  .text-tertiary  { color: $ctertiary; }
  .text-info      { color: darken($cinfo,10%); }
  .text-success   { color: $csuccess; }
  .text-warning   { color: $cwarning; }
  .text-danger    { color: $cdanger; }


//  Alignment
// ==============================================================


  @media (max-width: 767px) {
    .text-left-xs   { text-align:left !important;}
    .text-right-xs  { text-align:right !important;}
    .text-center-xs { text-align:center !important;}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .text-left-sm   { text-align:left !important;}
    .text-right-sm  { text-align:right !important;}
    .text-center-sm { text-align:center !important;}
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .text-left-md   { text-align:left !important;}
    .text-right-md  { text-align:right !important;}
    .text-center-md { text-align:center !important;}
  }
  @media (min-width: 1200px) {
    .text-left-lg   { text-align:left !important;}
    .text-right-lg  { text-align:right !important;}
    .text-center-lg { text-align:center !important;}
  }

  .text-center  { text-align:center !important; }
  .text-left    { text-align:left !important; }
  .text-right   { text-align:right !important; }
