
//  Utility questions
// ==============================================================

  body { padding-top:36px; }
  body.modal-open { overflow-y:hidden; }

  .display-block   { display: block; }
  .block-underline { padding-bottom:4px; border-bottom:1px solid $cborder; }


//  Lists
// ==============================================================

  ul,ol { padding-left: 0; list-style: none; }

  .list-styled    { margin-left:20px; }
  ul.list-styled  { list-style-type: disc; }
  ol.list-styled  { list-style-type: decimal; }

  ul.list-styled ul, ol.list-styled ul { margin-left:20px; list-style-type: circle; }
  ul.list-styled ol, ol.list-styled ol { margin-left:20px; list-style-type: decimal; }

  .list-margin-xxs li { margin: 5px auto; }
  .list-margin-xs li  { margin: 10px auto; }
  .list-margin-sm li  { margin: 15px auto; }
  .list-margin-md li  { margin: 35px auto; }
  .list-margin-lg li  { margin: 50px auto; }


//  Margins
// ==============================================================

  $xxs: 5px;
  $xs:  10px;
  $sm:  15px;
  $md:  25px;
  $lg:  35px;
  $xl:  50px;

  .margin-none        { margin:0 !important; }

  .margin-xxs         { margin:$xxs !important; }
  .margin-xs          { margin:$xs !important; }
  .margin-sm          { margin:$sm !important; }
  .margin-md          { margin:$md !important; }
  .margin-lg          { margin:$lg !important; }
  .margin-xl          { margin:$xl !important; }

  .margin-top-none    { margin-top:0px !important; }
  .margin-top-xxs     { margin-top:$xxs !important; }
  .margin-top-xs      { margin-top:$xs !important; }
  .margin-top-sm      { margin-top:$sm !important; }
  .margin-top-md      { margin-top:$md !important; }
  .margin-top-lg      { margin-top:$lg !important; }
  .margin-top-xl      { margin-top:$xl !important; }

  .margin-left-none   { margin-left:0px !important; }
  .margin-left-xxs    { margin-left:$xxs !important; }
  .margin-left-xs     { margin-left:$xs !important; }
  .margin-left-sm     { margin-left:$sm !important; }
  .margin-left-md     { margin-left:$md !important; }
  .margin-left-lg     { margin-left:$lg !important; }
  .margin-left-xl     { margin-left:$xl !important; }

  .margin-bottom-none { margin-bottom:0px !important; }
  .margin-bottom-xxs  { margin-bottom:$xxs !important; }
  .margin-bottom-xs   { margin-bottom:$xs !important; }
  .margin-bottom-sm   { margin-bottom:$sm !important; }
  .margin-bottom-md   { margin-bottom:$md !important; }
  .margin-bottom-lg   { margin-bottom:$lg !important; }
  .margin-bottom-xl   { margin-bottom:$xl !important; }

  .margin-right-none  { margin-right:0px !important; }
  .margin-right-xxs   { margin-right:$xxs !important; }
  .margin-right-xs    { margin-right:$xs !important; }
  .margin-right-sm    { margin-right:$sm !important; }
  .margin-right-md    { margin-right:$md !important; }
  .margin-right-lg    { margin-right:$lg !important; }
  .margin-right-xl    { margin-right:$xl !important; }

//  Paddings
// ==============================================================

  .padding-none        { padding:0 !important; }

  .padding-xxs         { padding:$xxs !important; }
  .padding-xs          { padding:$xs !important; }
  .padding-sm          { padding:$sm !important; }
  .padding-md          { padding:$md !important; }
  .padding-lg          { padding:$lg !important; }
  .padding-xl          { padding:$xl !important; }

  .padding-top-none    { padding-top:0px !important; }
  .padding-top-xxs     { padding-top:$xxs !important; }
  .padding-top-xs      { padding-top:$xs !important; }
  .padding-top-sm      { padding-top:$sm !important; }
  .padding-top-md      { padding-top:$md !important; }
  .padding-top-lg      { padding-top:$lg !important; }
  .padding-top-xl      { padding-top:$xl !important; }

  .padding-left-none   { padding-left:0px !important; }
  .padding-left-xxs    { padding-left:$xxs !important; }
  .padding-left-xs     { padding-left:$xs !important; }
  .padding-left-sm     { padding-left:$sm !important; }
  .padding-left-md     { padding-left:$md !important; }
  .padding-left-lg     { padding-left:$lg !important; }
  .padding-left-xl     { padding-left:$xl !important; }

  .padding-bottom-none { padding-bottom:0px !important; }
  .padding-bottom-xxs  { padding-bottom:$xxs !important; }
  .padding-bottom-xs   { padding-bottom:$xs !important; }
  .padding-bottom-sm   { padding-bottom:$sm !important; }
  .padding-bottom-md   { padding-bottom:$md !important; }
  .padding-bottom-lg   { padding-bottom:$lg !important; }
  .padding-bottom-xl   { padding-bottom:$xl !important; }

  .padding-right-none  { padding-right:0px !important; }
  .padding-right-xxs   { padding-right:$xxs !important; }
  .padding-right-xs    { padding-right:$xs !important; }
  .padding-right-sm    { padding-right:$sm !important; }
  .padding-right-md    { padding-right:$md !important; }
  .padding-right-lg    { padding-right:$lg !important; }
  .padding-right-xl    { padding-right:$xl !important; }


//  Opacity
// ==============================================================

.opacity-10 { opacity:0.1;  }
.opacity-25 { opacity:0.25; }
.opacity-50 { opacity:0.5;  }
.opacity-75 { opacity:0.75; }
.opacity-90 { opacity:0.9;  }


//  Pull
// ==============================================================

@media (max-width: 767px) {
  .pull-none-xs   { float:none !important; }
  .pull-left-xs   { float:left !important; }
  .pull-right-xs  { float:right !important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pull-none-sm   { float:none !important; }
  .pull-left-sm   { float:left !important; }
  .pull-right-sm  { float:right !important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pull-none-md   { float:none !important; }
  .pull-left-md   { float:left !important; }
  .pull-right-md  { float:right !important; }
}
@media (min-width: 1200px) {
  .pull-none-lg   { float:none !important; }
  .pull-left-lg   { float:left !important; }
  .pull-right-lg  { float:right !important; }
}

//  Borders
// ==============================================================

  .no-border          { border:none !important; }

  .border-top-none    { border-top:none !important;    }
  .border-right-none  { border-right:none !important;  }
  .border-bottom-none { border-bottom:none !important; }
  .border-left-none   { border-left:none !important;   }

  .border             { border:       1px solid $cborder; }
  .border-top         { border-top:   1px solid $cborder; }
  .border-right       { border-right: 1px solid $cborder; }
  .border-bottom      { border-bottom:1px solid $cborder; }
  .border-left        { border-left:  1px solid $cborder; }

  .border-default     { border: 1px solid $cborder    !important; }
  .border-primary     { border: 1px solid $cprimary   !important; }
  .border-secondary   { border: 1px solid $csecondary !important; }
  .border-tertiary    { border: 1px solid $ctertiary  !important; }
  .border-info        { border: 1px solid $cinfo      !important; }
  .border-success     { border: 1px solid $csuccess   !important; }
  .border-warning     { border: 1px solid $cwarning   !important; }
  .border-danger      { border: 1px solid $cdanger    !important; }

  .border-white       { border: 1px solid white    !important; }

  .border-dashed      { border: 1px dashed $cborder !important; }


//  Removing Outline Effect
// ==============================================================

  a:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,
  .btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
  }
