<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="dashboard-area">
    
    <app-user-navbar [currentPage]="'jobs'"></app-user-navbar>

    <div class="dashboard_contents section--padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-bar dashboard_title_area clearfix filter-bar2">
                        <div class="dashboard__title">
                            <h3>Manage Jobs</h3>
                        </div>
                        <div class="filter__items">
                            <div class="filter__option filter--text py-0">
                                <p>
                                    <span>{{ userJobs.length }}</span> Job(s)
                                </p>
                            </div>
                        </div><!-- ends: .pull-right -->
                    </div><!-- ends: .filter-bar -->
                </div><!-- ends: .col-md-12 -->
            </div><!-- ends: .row -->
            <div class="row">
                
                <app-user-job-box *ngFor="let userJob of userJobs"
                                  class="col-lg-4 col-md-6"
                                  [job]="userJob"
                                  (jobDeleted)="onDeleteJob($event)">
                </app-user-job-box>
                
            </div><!-- Ends: .row -->

        </div><!-- ends: .container -->
    </div><!-- ends: .dashboard_menu_area -->
</section><!-- ends: .dashboard-area -->