<div class="successModal modal-header">
	<div class="icon-box">
		<i class="fa fa-exclamation" aria-hidden="true"></i>
	</div>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="bsModalRef.hide()">&times;</button>
</div>
<div class="successModal modal-body text-center">
	<h4>Great!</h4>	
	{{ alert.message }}
	<button class="btn btn-success" data-dismiss="modal" (click)="bsModalRef.hide()">Inchide</button>
</div>