<div class="row col-md-12">

    <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let person of keyPersons">
        <div class="team-single">
            <figure>
                <img src="{{ (person.path)? person.path : 'assets/img/team1.jpg' }}" alt=""
                     class="img-fluid rounded-circle icon-150x150">
                <figcaption>
                    <h5>{{ person.name }}</h5>
                    <span class="member-title">{{ person.position }}</span>
                </figcaption>
                <button type="button" class="btn btn-sm homadify-btn mt-3" (click)="deletePerson(person.id)">Delete</button>
            </figure>
        </div><!-- ends: .team-single -->
    </div>

</div>