<div class="col-md-12">
    <form [formGroup]="keyPersonForm" (submit)="onSubmitForm()" enctype="multipart/form-data">
        <div class="information_module">
            <div class="toggle_title">
                <h4>Create Key Person</h4>
            </div>
            <div class="information__set become-a-provider">
                <div class="information_wrapper">
                    <div class="become_a_provider_area">
                        
                        <div class="form-group">
                            <label for="name">Name
                                <sup>*</sup>
                            </label>
                            <input type="text" id="name"
                                   class="text_field" placeholder="Name"
                                   formControlName="name">
                        </div>

                        <div class="form-group">
                            <label for="position">Position
                                <sup>*</sup>
                            </label>
                            <input type="text" id="position"
                                   class="text_field" placeholder="Position"
                                   formControlName="position">
                        </div>

                        <div class="form-group">
                            <label for="cover_photo">Image
                                <sup>*</sup>
                            </label>
                            <input class="d-block" type="file" id="cover_photo" (change)="onFileChange($event)">
                        </div>

                        <label for="cover_photo" class="upload_btn">
                            <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit() || !file">Create</button>
                        </label>
                    </div>
                </div>
            </div>
        </div><!-- ends: .information_module -->
    </form>
</div><!-- ends: .col-md-12 -->