<section class="hero-area2 hero-area3 bgimage" style="background-image: url('/assets/img/background-var-2.jpg')">
    <div class="hero-content content_above">
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <app-search-form [filters]="filters"></app-search-form>

                    </div><!-- end .col-md-12 -->
                </div>
            </div>
        </div><!-- end .contact_wrapper -->
    </div><!-- end hero-content -->
</section><!-- ends: .hero-area -->

<section class="product-grid p-bottom-100 pt-5 mt-3">
    <div class="container">
        <div class="row">
            <!-- Start .product-list -->
            <div class="col-md-12 product-list">
                
                <div class="row">
                    
                    <app-visitor-job-box *ngFor="let job of jobs"
                                         class="col-lg-4 col-md-6"
                                         [job]="job">
                    </app-visitor-job-box>
                    
                </div>

                <app-paginator [currentPage]="currentPage"
                               [lastPage]="lastPage"
                               (changePage)="changePage($event)">
                </app-paginator>

            </div>
            <!-- Ends: .product-list -->
        </div>
    </div>
</section><!-- ends: .product-grid -->

<app-register-section></app-register-section>