<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="dashboard-area">
    
    <app-user-navbar [currentPage]="'add-job'"></app-user-navbar>

    <div class="dashboard_contents section--padding">
        <div class="container">
            <div class="row">

                <app-user-become-provider *ngIf="!userService.getUser().is_provider" class="w-100"></app-user-become-provider>
                <app-user-add-job-form *ngIf="userService.getUser().is_provider" class="w-100"></app-user-add-job-form>

            </div><!-- ends: .row -->
        </div><!-- ends: .container -->
    </div><!-- ends: .dashboard_menu_area -->

</section><!-- ends: .dashboard-area -->