

<form [formGroup]="cvEducationForm" (submit)="onSubmitForm()">
    <div class="information__set">
        <div class="information_wrapper form--fields row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="type">Type
                        <sup>*</sup>
                    </label>
                    <div class="search__select select-wrap">
                        <select name="category" class="select--field" formControlName="type">
                            <option value="Elementary">Elementary</option>
                            <option value="Professional School">Professional School</option>
                            <option value="High School">High School</option>
                            <option value="Post High School">Post High School</option>
                            <option value="College">College</option>
                            <option value="Master">Master</option>
                            <option value="MBA">MBA</option>
                            <option value="PHD">PHD</option>
                            <option value="Certification">Certification</option>
                            <option value="Diploma">Diploma</option>
                        </select>
                        <span class="icon-arrow-down"></span>
                    </div><!-- ends: .select-wrap -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="institution">Institution
                        <sup>*</sup>
                    </label>
                    <input type="text" id="institution" class="text_field" placeholder="Institution" formControlName="institution">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="specialization">Specialization
                        <sup>*</sup>
                    </label>
                    <input type="text" id="specialization" class="text_field" placeholder="Specialization" formControlName="specialization">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city">City
                        <sup>*</sup>
                    </label>
                    <input type="text" id="city" class="text_field" placeholder="City" formControlName="city">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="syear">Start Year
                        <sup>*</sup>
                    </label>
                    <input type="number" min="1900" max="2020" id="syear" class="text_field" placeholder="Start Year" formControlName="yearStart">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="eyear">End Year
                        <sup>*</sup>
                    </label>
                    <input type="number" min="1900" max="2020" id="eyear" class="text_field" placeholder="End Year" formControlName="yearEnd">
                </div>
            </div>

            <div class="col-md-12">
                <div class="dashboard_setting_btn">
                    <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit()">Save Education</button>
                </div>
            </div>

        </div><!-- ends: .information_wrapper -->
    </div><!-- ends: .information__set -->
</form>