<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="how_it_works">
    
    <div class="how_it_works_module border-bottom">
        <div class="content_block3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-12 v_middle">
                        <div class="area_image m-bottom-md">
                            <img src="assets/img/svg/1.svg" alt="area images" class="svg">
                        </div>
                    </div><!-- end .col-md-12 -->
                    <div class="col-xl-5 offset-xl-2 col-lg-6 col-md-12 v_middle">
                        <div class="area_content">
                            <h2>Create a Free Account</h2>
                            <p>Create a free account. This account can be use eighter if you want to find a job or if you are 
                                a recruiter and you want to post your company jobs on our platform.</p>
                            <a [routerLink]="['/register']" class="btn btn--md btn-primary homadify-btn">Register Now</a>
                        </div>
                    </div><!-- end .col-md-12 -->
                </div>
            </div>
        </div><!-- ends: .content_block3 -->
    </div><!-- ends: .how_it_works_module -->

    <div class="how_it_works_module border-bottom">
        <div class="content_block4 ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-12 v_middle">
                        <div class="area_content m-bottom-md">
                            <h2>Complete your CV</h2>
                            <p>Complete your CV if you wanna apply to a job in a StartUp Company. 
                                In this way the company will be able to decide if you are right for their job.</p>
                            <a [routerLink]="['/register']" class="btn btn--md btn-primary homadify-btn">Register Now</a>
                        </div>
                    </div><!-- end .col-md-12 -->
                    <div class="col-xl-5 offset-xl-2 col-lg-6 col-md-12 v_middle">
                        <div class="area_image">
                            <img src="assets/img/svg/2.svg" alt="area images" class="svg">
                        </div>
                    </div><!-- end .col-md-12 -->
                </div>
            </div>
        </div><!-- ends: .content_block4 -->
    </div><!-- ends: .how_it_works_module -->

    <div class="how_it_works_module">
        <div class="content_block6">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-6 v_middle">
                        <div class="area_image">
                            <img src="assets/img/svg/3.svg" alt="area images" class="svg">
                        </div>
                    </div><!-- ends: .col-md-6 -->
                    <div class="col-xl-5 offset-xl-2 col-lg-5 col-md-6 v_middle">
                        <div class="area_content">
                            <h2>Post Company Jobs (Recruiter)</h2>
                            <p>If you are a recruiter, complete company details and post the open positions.</p>
                            <a [routerLink]="['/register']" class="btn btn--md btn-primary homadify-btn">Register Now</a>
                        </div>
                    </div><!-- ends: .col-md-6 -->
                </div>
            </div>
        </div><!-- ends: .content_block6 -->
    </div><!-- ends: .how_it_works_module -->

</section>