<app-breadcrumb [title]="pageTitle" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="dashboard-area">
    
    <app-user-navbar [currentPage]="'company'"></app-user-navbar>

    <div class="dashboard_contents section--padding">
        <div class="container">
            <div class="row">
                    
                <div class="col-md-12">
                    <form [formGroup]="companyForm" (submit)="onSubmitForm()">
                        <div class="information_module">
                            <div class="toggle_title">
                                <h4>Company Information</h4>
                            </div>
                            <div class="information__set">
                                <div class="information_wrapper form--fields row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cname">Company Name
                                                <sup>*</sup>
                                            </label>
                                            <input type="text" id="cname" class="text_field" placeholder="Company Name" formControlName="title">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="">
                                            <label for="cdescription">Company Description
                                                <sup>*</sup>
                                            </label>
                                            <textarea id="cdescription" class="text_field" placeholder="Company Description..." formControlName="description"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="">
                                            <label for="cevolution">Company Evolution</label>
                                            <textarea id="cevolution" class="text_field" placeholder="Company Evolution..." formControlName="evolution"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="">
                                            <label for="ccurrent">Company Current Status</label>
                                            <textarea id="ccurrent" class="text_field" placeholder="Company Current Status..." formControlName="current"></textarea>
                                        </div>
                                    </div>
                
                                    <div class="col-md-12">
                                        <div class="dashboard_setting_btn">
                                            <button type="submit" class="btn btn--md btn-primary homadify-btn" [disabled]="!canSubmit()">Save Change</button>
                                        </div>
                                    </div>
                
                                </div><!-- ends: .information_wrapper -->
                            </div><!-- ends: .information__set -->
                        </div><!-- ends: .information_module -->
                    </form>
                </div><!-- ends: .col-md-12 -->

            </div><!-- ends: .row -->
        </div><!-- ends: .container -->
    </div><!-- ends: .dashboard_menu_area -->
</section><!-- ends: .dashboard-area -->