<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="dashboard-area">
    
    <app-user-navbar [currentPage]="'appointments'"></app-user-navbar>

    <div class="dashboard_contents p-top-100 p-bottom-70">
        <div class="container">
            
            <div class="row" *ngIf="applications">
                <div class="col-md-12">
                    <div class="filter-bar clearfix filter-bar2 pb-4 pt-4">
                        <div class="dashboard__title">
                            <h3>{{ appointments.length }} Appointment(s)</h3>
                        </div>
                    </div><!-- ends: .filter-bar -->
                </div><!-- ends: .col-md-12 -->
            </div><!-- ends: .row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="statement_table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Detail</th>
                                    <th>Status</th>
                                    <th>User</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <app-user-appointment-row class="single_product clearfix col-md-12"
                                                          *ngFor="let appointment of appointments"
                                                          [appointment]="appointment"
                                                          style="display: contents;">
                                </app-user-appointment-row>

                            </tbody>
                        </table>

                    </div><!-- ends: .statement_table -->
                </div>
            </div><!-- ends: .row -->
            
        </div><!-- ends: .container -->
    </div><!-- ends: .dashboard_menu_area -->
</section><!-- ends: .dashboard-area -->