<div class="col-md-12">
    <div class="information_module">
        <div class="toggle_title">
                <h4>Job Images</h4>
        </div>
        <div class="information__set profile_images">
            <div class="information_wrapper">
                
                <div class="row service-images-list">
                    
                    
                    <div class="col-lg-4 col-md-6" *ngFor="let image of images">
                        <div class="product-single latest-single items--edit">
                            <div class="product-thumb">
                                <figure>
                                    <img src="{{ (image.path)? image.path : 'assets/img/product4.png' }}" alt="Job Image" class="img-fluid">
                                    <div class="prod_option show">
                                        <a href="#" id="drop_4" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="icon-settings setting-icon"></span>
                                        </a>
                                        <div class="options dropdown-menu" aria-labelledby="drop_4">
                                            <ul>
                                                <li class="dropdown-item">
                                                    <a class="delete-service-image-link" [routerLink]="" (click)="deleteImage(image.id)">
                                                        <span class="icon-trash"></span>Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </figure>
                            </div><!-- Ends: .product-thumb -->
                        </div><!-- Ends: .product-single -->
                    </div><!-- Ends: .col-md-4 -->
                    
                </div>

                <div class="profile_image_area mb-2">
                    <label for="cover_photo" class="upload_btn">
                        <form enctype="multipart/form-data">
                            <input type="file" id="cover_photo" (change)="onFileChange($event)">
                            <span class="btn btn-sm btn-primary homadify-btn" aria-hidden="true">Upload New Image</span>
                        </form>
                    </label>
                </div>

            </div>
        </div>
    </div><!-- ends: .information_module -->
</div><!-- ends: .col-md-12 -->