<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<section class="faq-area">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="faq-box">
                    <div class="faq-head">
                        <h4>Faq's</h4>
                    </div><!-- ends: .faq-head -->
                    <div class="faq-content">
                        <ul class="list-unstyled">
                            <li>
                                <p>How can I list my jobs?</p>
                                <p>First of all you must create an accout. After this you must fill in the company details in the 'Become a provider tab'.</p>
                            </li>
                            <li>
                                <p>How can I create an account?</p>
                                <p>Visit register section.</p>
                            </li>
                            <li>
                                <p>Can I apply to jobs without an accout?</p>
                                <p>No, you must have an accout to apply to jobs.</p>
                            </li>
                        </ul>
                    </div><!-- ends: .faq-content -->
                </div><!-- ends: .faq-box -->
            </div><!-- ends: .col-lg-6 -->
            
        </div>
    </div>
</section>