<!-- Breadcrumb Area -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-contents">
                    <h2 class="page-title">{{ title }}</h2>
                    <div class="breadcrumb">
                        <ul>
                            <li *ngFor="let breadcrumb of breadcrumbs; let last = last;"
                                [ngClass]="last ? 'active' : '' ">
                                <a [routerLink]="[breadcrumb.route]">{{ breadcrumb.title }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end .col-md-12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
</section><!-- ends: .breadcrumb-area -->