<div>
    <div class="product-single latest-single items--edit">
        <div class="product-thumb">
            <figure>
                <img src="{{ (job.thumbnail)? job.thumbnail : 'assets/img/no-image.jpg' }}" alt="" class="img-fluid">
                <div class="prod_option show">
                    <a href="#" id="drop_1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="icon-settings setting-icon"></span>
                    </a>
                    <div class="options dropdown-menu" aria-labelledby="drop_1">
                        <ul>
                            <li class="dropdown-item">
                                <a [routerLink]="['/user/job/edit/', job.id]">
                                    <span class="icon-pencil"></span>Edit
                                </a>
                            </li>
                            <li class="dropdown-item" *ngIf="job.active">
                                <a [routerLink]="" (click)="changeStatus(false)">
                                    <span class="icon-eye"></span>Deactivate
                                </a>
                            </li>
                            <li class="dropdown-item" *ngIf="!job.active">
                                <a [routerLink]="" (click)="changeStatus(true)">
                                    <span class="icon-eye"></span>Activate
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a [routerLink]="" (click)="deleteJob()">
                                    <span class="icon-trash"></span>Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </figure>
        </div><!-- Ends: .product-thumb -->
        <div class="product-excerpt" [ngClass]="job.active? '' : 'background-red'">
            <h5>
                <a [routerLink]="['/user/job/edit/', job.id]">{{ job.title }}</a>
            </h5>
        </div><!-- Ends: .product-excerpt -->
    </div><!-- Ends: .product-single -->
</div><!-- Ends: .col-md-4 -->